<div class="card card-event py-4 px-2 mb-3">
  <div class="row align-items-center">
    <div class="col-12 flex-column col-sm-3 px-0 px-md-2 text-center mb-2 m-md-0 date-section">
      <p-skeleton styleClass="m-0 px-1 px-sm-0 px-1 px-sm-0 d-inline-block d-sm-none" width="80%" height="1.5rem"
                  borderRadius="16px"></p-skeleton>
      <p-skeleton styleClass="m-0 px-1 px-sm-0 px-1 px-sm-0 d-none d-sm-inline-block" width="80%" height="4rem"
                  borderRadius="16px"></p-skeleton>
    </div>
    <div class="col-sm-9 px-0 ps-sm-3 ps-md-1">
      <div class="card-body m-0 p-0 text-center">
        <p-skeleton styleClass="d-inline-block" width="90%" height="2.5rem" borderRadius="16px"></p-skeleton>
      </div>
    </div>
  </div>
</div>
