<div class="card mb-2 card-event">
  <div class="row align-items-center py-4 px-2 mb-3">
    <div class="col-12 flex-column col-sm-3 text-center px-0 px-md-2 mb-2 m-md-0 date-section">
      <p-skeleton
        width="80%"
        height="1.5rem"
        styleClass="d-inline-block d-sm-none m-0 px-1 px-sm-0 px-1 px-sm-0"
        borderRadius="16px"
      ></p-skeleton>
      <p-skeleton
        width="80%"
        height="4rem"
        styleClass="d-none d-sm-inline-block m-0 px-1 px-sm-0 px-1 px-sm-0"
        borderRadius="16px"
      ></p-skeleton>
    </div>
    <div class="col-sm-9 px-0 ps-sm-3 ps-md-1">
      <div class="card-body text-center m-0 p-0">
        <p-skeleton
          width="90%"
          height="2.5rem"
          styleClass="d-inline-block"
          borderRadius="16px"
        ></p-skeleton>
      </div>
    </div>
  </div>
</div>
