<div class="job-container border-bottom job-card-container p-2">
  <div class="job-header d-flex flex-wrap align-items-center mb-2">
    <img
      #companyLogo
      (error)="companyLogo.src = 'assets/img/job-posting-img.png'"
      [src]="job.company?.logo || 'assets/img/job-posting-img.png'"
      alt="company-logo"
      class="d-none d-sm-inline-block me-1 company-logo"
    >
    <span class="fw-bold grey overflow-ellipsis pe-2 text-uppercase">{{job.company?.name}}</span>
    <span>
      <span class="d-none d-sm-inline ps-2 pe-2">•</span>
      <span class="pe-2">{{job.location}}</span>
      <span class="d-none d-sm-inline pe-2">•</span>
    </span>
    <app-contract-type [type]="job.contractType?.label"></app-contract-type>
  </div>
  <div class="job-body row col justify-content-between mt-3">
    <div class="job-infos col-12 col-lg-7 col-xl-9">
      <h3 class="text-wrap pb-1 text-dark fw-bold m-0">{{job.title}}</h3>
      <p [innerHTML]="job.description | slice:0:255" class="text-justify"></p>
      <p><a routerLink="/{{univers.JOBS.url}}/{{job.id}}">Voir plus</a></p>
    </div>
    <div class="job-options align-self-center mb-4 col-auto flex-fill">
      <button class="btn btn-primary fw-bold w-100">
        <i-feather class="icon me-2" name="plus"></i-feather>
        Ajouter au jobBoard
      </button>
    </div>
  </div>
</div>
