<div class="card">
  <div class="list-group list-group-flush">
    <a routerLink="/admin" class="list-group-item active">Dashboard</a>

    <a *ngFor="let menuItem of menuItems"
       [routerLink]="menuItem.link"
       routerLinkActive="text-primary"
       class="list-group-item d-flex justify-content-between">
      <div>
        <span *ngIf="menuItem.classIcon" [class]="menuItem.classIcon" aria-hidden="true"></span>
        {{menuItem.label}}
      </div>
      <span *ngIf="menuItem.badge" class="badge rounded-pill bg-secondary">{{menuItem.badge}}</span>
    </a>
  </div>
</div>
