<div class="row">
  <div class="col">
    <img alt="job-logo" src="assets/img/job-icon.png"/>
    <h2>Le figaro</h2>
    <div class="row m-0 p-1">
      <div class="col-7 text-start fw-bold ps-2">
        <span class="align-middle">Site internet</span>
      </div>
      <div class="col-5 text-end m-0">https://www.lefigaro.fr/</div>
    </div>
  </div>
  <div class="col">
    <h1>Exploitant organisateur de flux de transport h/f</h1>
    <div>
      <span>CDI</span>
      <div>
        <i-feather class="icon me-2" name="calendar"></i-feather>
        19 septembre 2021 - 16:03
      </div>
      <div>
        <i-feather class="icon me-2" name="map-pin"></i-feather>
        Paris (75)
      </div>
    </div>
    <div>
      <p>
        Nous recherchons un EXPLOITANT ORGANISATEUR de flux transport h/f, poste basé à Lyon (69), pour l’un de nos
        clients, spécialiste du fret international au départ de la France et l’Espagne à destination du Royaume Uni, de
        l’Irlande et de la Scandinavie. <br>
        <br>
        Description du poste <br>
        <br>
        Vous prendrez en charge depuis la commande client jusqu’à la livraison finale l’organisation, l’optimisation des
        flux de marchandises à transporter avec les structures, moyens et ressources de l’entreprise experte à
        destination
        de l’international. <br>
        <br>
        Type de fret : marchandises conditionnées en lot, 1/2 lot ou groupage. <br>
        <br>
        Dans le cadre de votre mission, vous administrerez la gestion de vos flux clients, la validation des prix de
        vente
        comme des prix d’achat des affrètements si nécessaire en spot comme en régulier. <br>
        <br>
        Profil <br>
        <br>
        Vous avez environ 5 ans d’experience dans le domaine de lalogistique et des transports vous pratiquez un anglais
        professionnel courant. <br>
        <br>
        Doté d’un sens de l’organisation et d’analyse, vous etes capable de travailler en autonomie et appréciez le
        travail en équipe. Rigueur et gestion des situations de crise dans le respect des cahiers des charges de nos
        clients. <br>
        <br>
        Poste evolutif vers une responsabilité d’équipe operationnelle. <br>
        <br>
        Rémuneration <br>
        <br>
        Fixe de 35 à45 k€ brut en fonction du profil + variable sur marge brute.
        Rémunération évolutive. <br>
        <br>
        Statut <br>
        <br>
        Agent de maitrise voire cadre selon profil.
      </p>
    </div>
  </div>
</div>
