@import "src/assets/variables";

.user-avatar {
  width: 100px;
  height: auto;
}

.user-card {
  background-color: green;
  border-radius: 10px;
}

.height-fit-content {
  height: fit-content;
}

.table-action-button {
  padding: 0.3rem 0.6rem 0.3rem 0.6rem !important;
}
