<div class="row justify-content-around">
  <!--shadow-sm border-0 user-card-->
  <div class="col-12 col-lg-3 card align-items-center pt-5 ">
    <img
      alt="job-logo"
      class="card-img-top rounded-circle img-fluid shadow-sm user-avatar"
      src="assets/img/job-icon.png"
    />
    <div class="card-body">
      <h3 class="card-title text-primary text-uppercase text-center mb-4">Le figaro</h3>
      <div>
        <div class="text-start fw-bold mb-3">
          <div class="align-middle">Site internet</div>
          <div>
            <a href="https://www.lefigaro.fr/">www.lefigaro.fr</a>
          </div>
        </div>
        <div>
          <h5 class="card-subtitle text-primary text-uppercase fs-6 fw-bold mb-3">Description de l’entreprise</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec volutpat eros.
            Integer vel mauris
            arcu. Quisque metus nibh, aliquam non gravida at, rutrum ut velit.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8 card pt-3 px-3">
    <h1 class="card-title text-primary">Exploitant organisateur de flux de transport h/f</h1>
    <div class="d-flex flex-column flex-md-row align-items-center mt-3 mb-3">
      <span class="cdi span-contract me-4">CDI</span>
      <div class="me-4">
        <i-feather class="icon me-1" name="calendar"></i-feather>
        19/09/2021 - 16:03
      </div>
      <div>
        <i-feather class="icon me-1" name="map-pin"></i-feather>
        Paris (75)
      </div>
    </div>
    <div class="card-body mt-3 p-0">
      <p class="card-text">
        Nous recherchons un EXPLOITANT ORGANISATEUR de flux transport h/f, poste basé à Lyon (69), pour l’un de nos
        clients, spécialiste du fret international au départ de la France et l’Espagne à destination du Royaume Uni,
        de
        l’Irlande et de la Scandinavie. <br>
        <br>
        Description du poste <br>
        <br>
        Vous prendrez en charge depuis la commande client jusqu’à la livraison finale l’organisation, l’optimisation
        des
        flux de marchandises à transporter avec les structures, moyens et ressources de l’entreprise experte à
        destination
        de l’international. <br>
        <br>
        Type de fret : marchandises conditionnées en lot, 1/2 lot ou groupage. <br>
        <br>
        Dans le cadre de votre mission, vous administrerez la gestion de vos flux clients, la validation des prix de
        vente
        comme des prix d’achat des affrètements si nécessaire en spot comme en régulier. <br>
        <br>
        Profil <br>
        <br>
        Vous avez environ 5 ans d’experience dans le domaine de lalogistique et des transports vous pratiquez un
        anglais
        professionnel courant. <br>
        <br>
        Doté d’un sens de l’organisation et d’analyse, vous etes capable de travailler en autonomie et appréciez le
        travail en équipe. Rigueur et gestion des situations de crise dans le respect des cahiers des charges de nos
        clients. <br>
        <br>
        Poste evolutif vers une responsabilité d’équipe operationnelle. <br>
        <br>
        Rémuneration <br>
        <br>
        Fixe de 35 à45 k€ brut en fonction du profil + variable sur marge brute.
        Rémunération évolutive. <br>
        <br>
        Statut <br>
        <br>
        Agent de maitrise voire cadre selon profil.
      </p>
    </div>
  </div>
</div>
