<div class="row justify-content-around">
  <div class="col-12 col-lg-3 card align-items-center py-5 px-2 height-fit-content">
    <img
      alt="job-logo"
      class="card-img-top rounded-circle img-fluid shadow-sm user-avatar"
      src="assets/img/job-icon.png"
    />
    <div class="card-body">
      <h2 class="card-title text-primary text-uppercase text-center mb-4">{{job.company?.name}}</h2>
      <div>
        <div class="text-start fw-bold my-5">
          <div class="align-middle">Site internet</div>
          <div>
            <a href="{{job.company?.url}}">{{job.company?.url}}</a>
          </div>
        </div>
        <div>
          <h5 class="card-subtitle text-primary text-uppercase fs-6 fw-bold mb-2">Description de l’entreprise</h5>
          <p [innerHtml]="job.company?.description" class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8 card mb-3 py-5 px-5">
    <h2 class="card-title text-primary text-uppercase">{{job.title}}</h2>
    <div class="d-flex flex-column flex-md-row align-items-md-center mt-3 mb-3">
      <app-contract-type [type]="job.contractType?.label" class="me-4"></app-contract-type>
      <div class="me-4">
        <i-feather class="icon me-1" name="calendar"></i-feather>
        {{job.createdAt | date: 'd.M.yyyy'}}
      </div>
      <div>
        <i-feather class="icon me-1" name="map-pin"></i-feather>
        {{job.location}}
      </div>
    </div>
    <div class="card-body mt-3 p-0">
      <p [innerHTML]="job.description" class="card-text"></p>
    </div>
  </div>
</div>
