@import "../../../../assets/variables.scss";

#forum-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 35px;
}

#forum-right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#create-post-btn {
  display: flex;
  width: 100%;
  height: 85px;
  border-radius: 40px;
  background-color: #2B4064;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border: 1px solid white;
}

.header {
  height: 10%;
  display: flex;
  border-radius: 4px 4px 0 0;
  justify-content: center;
  align-items: baseline;
  color: white;
  gap: 60px;
  padding: 15px 0 0 20px;
}


::ng-deep {
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: rgba(0, 0, 0, 0.03);
    color: #6c757d;
    border-color: $primary;
  }

  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background: rgba(0, 0, 0, 0.03);
    padding-bottom: 25px;

  }
}

.post-num {
  border: 1px solid #dddddd;
  min-width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  padding: 4px;
}

.post-title {
  overflow-wrap: anywhere;
}
