<p-table
  (onLazyLoad)="paginate($event)"
  [lazy]="true"
  [loading]="loading"
  [paginator]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [rows]="rowsPerPage"
  [showCurrentPageReport]="true"
  [totalRecords]="pageable.totalElements"
  [value]="pageable.content"
  currentPageReportTemplate="{first} à {last} sur {totalRecords}"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-uppercase" scope="col">Username</th>
      <th class="text-uppercase" scope="col">Prénom</th>
      <th class="text-uppercase" scope="col">Nom</th>
      <th class="text-uppercase" scope="col">Type</th>
      <th class="text-uppercase" scope="col">Opérations</th>
    </tr>
  </ng-template>
  <ng-template let-user pTemplate="body">
    <tr>
      <td class="overflow-ellipsis">{{user.username}}</td>
      <td class="overflow-ellipsis">{{user.firstname}}</td>
      <td class="overflow-ellipsis">{{user.lastname}}</td>
      <td class="overflow-ellipsis">{{roleCodesToString(user.roles)}}</td>
      <td>
        <button
          (click)="activateUser(user)"
          class="btn btn-outline-primary float-end"
          type="button"
        >
          Valider
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <td class="ps-4" colspan="5">Aucun utilisateur en attente de validation.</td>
  </ng-template>
</p-table>
