<div class="row">
  <div class="col-12 col-lg-3 p-0">
    <app-job-filter></app-job-filter>
  </div>
  <div class="col-12 col-lg-9 p-0 row">
    <div class="d-flex justify-content-end mb-3 p-0">
      <div class="align-self-end col-12 col-sm-4 col-lg-3 col-xl-3 col-xxl-auto">
        <button
          (click)="onAddJob()"
          class="btn btn-primary fw-bold w-100 px-xxl-4"
        >
          <i class="fa-plus fas"></i>
          Ajouter une offre
        </button>
      </div>
    </div>
    <ng-container *ngIf="!isLoading; else loadingTemplate">
      <div class="card p-0 bg-white">
        <div class="card-header bg-white clo-9 d-flex flex-column flex-sm-row ps-0 py-2 m-0">
          <div class="input-group p-1">
            <span class="d-none d-sm-inline input-group-text border-0 bg-white">
              <i-feather name="search"></i-feather>
            </span>
            <input
              (keydown.enter)="onSearchChange()"
              [(ngModel)]="criteria.search"
              aria-describedby="search-input"
              aria-label="keyword"
              class="form-control no-outline text-center text-sm-start"
              placeholder="Rechercher un offre ..."
              type="text"
            >
          </div>
          <div class="d-flex justify-content-center justify-content-sm-end align-items-center">
            <i
              [ngClass]="pageable.sortOrder === sortDirection.ASC ? 'fa-sort-amount-up-alt' : 'fa-sort-amount-down'"
              class="fas fa-sort-amount-down-alt ms-3"
            >
            </i>
            <p-dropdown
              (onChange)="onSortChange($event)"
              [(ngModel)]="selectedOrderCode"
              [options]="orderByEnums"
              styleClass="no-outline"
              name="selectedOrder"
              optionLabel="label"
              optionValue="code"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="card-body p-4">
          <p
            *ngIf="!pageable.content?.length"
            class="fst-italic mt-3"
          >
            Il n'y a aucune offre d'emploi pour le moment.
          </p>
          <div
            *ngFor="let job of pageable.content; last as isLast; trackBy: trackByItemId"
            [ngClass]="{'last-element': isLast}"
          >
            <app-job-card [job]="job"></app-job-card>
          </div>
        </div>
      </div>
      <p-paginator
        (onPageChange)="paginate($event)"
        *ngIf="pageable.totalPages > 0"
        [alwaysShow]="false"
        [first]="pageable.first"
        [rowsPerPageOptions]="DEFAULT_ROWS_PER_PAGE_OPTIONS"
        [rows]="pageable.rows"
        [totalRecords]="pageable.totalElements"
      >
      </p-paginator>
    </ng-container>
    <ng-template #loadingTemplate>
      <div class="d-flex justify-content-center spinner">
        <div class="align-self-center">
          <app-loading></app-loading>
        </div>
      </div>
    </ng-template>
  </div>
</div>
