<div class="row">
  <div class="col-12 col-lg-3 p-0">
    <h6 class="text-dark fw-bold">Filtres</h6>
  </div>
  <div class="col-12 col-lg-9 p-0 row bg-white">
    <ng-container *ngIf="!isLoading; else loadingTemplate">
      <div class="card p-0">
        <div class="card-header bg-white row ps-0 py-2 m-0">
          <div class="input-group col-9">
          <span class="input-group-text border-0 bg-white">
            <i-feather name="search"></i-feather>
          </span>
            <input
              (keydown.enter)="paginate()"
              [(ngModel)]="searchKey"
              aria-describedby="search-input"
              aria-label="keyword"
              class="form-control no-outline"
              placeholder="Rechercher un offre ..."
              type="text"
            >
            <p-dropdown
              (onChange)="onFilterChange($event)"
              [(ngModel)]="selectedOrder"
              [options]="orderByEnums"
              name="selectedOrder"
              optionLabel="label"
              optionValue="code"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="card-body p-4">
          <p
            *ngIf="!pageable.content?.length"
            class="fst-italic mt-3"
          >
            Il n'y a aucune offre d'emploi pour le moment.
          </p>
          <div *ngFor="let job of pageable.content; last as isLast;" [ngClass]="{'last-element': isLast}">
            <app-job-card [job]="job"></app-job-card>
          </div>
        </div>
      </div>
      <p-paginator
        (onPageChange)="paginate($event)"
        *ngIf="pageable.totalPages > 0"
        [first]="pageable.first"
        [rowsPerPageOptions]="ROWS_PER_PAGE_OPTIONS"
        [rows]="pageable.rows"
        [totalRecords]="pageable.totalElements"
      >
      </p-paginator>
    </ng-container>
    <ng-template #loadingTemplate>
      <div class="d-flex justify-content-center spinner">
        <div class="align-self-center">
          <app-loading></app-loading>
        </div>
      </div>
    </ng-template>
  </div>
</div>
