<p-table
  (onLazyLoad)="loadCompanies($event)"
  [lazy]="true"
  [loading]="loading"
  [paginator]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [rows]="pageable.rows"
  [showCurrentPageReport]="true"
  [totalRecords]="pageable.totalElements"
  [value]="pageable.content"
  currentPageReportTemplate="{first} à {last} sur {totalRecords} entrées"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="overflow-ellipsis col-4 col-sm-3 col-lg-2" scope="col">NOM</th>
      <th class="overflow-ellipsis col-1 col-sm-2 col-lg-2" scope="col">URL</th>
      <th class="overflow-ellipsis col-3 col-sm-4 col-lg-6" scope="col">DESCRIPTION</th>
      <th class="overflow-ellipsis col-4 col-sm-3 col-lg-2" scope="col">ACTIONS</th>
    </tr>
  </ng-template>
  <ng-template let-company pTemplate="body">
    <tr>
      <td class="overflow-ellipsis col-4 col-sm-3 col-lg-2">{{company.name}}</td>
      <td class="overflow-ellipsis col-1 col-sm-2 col-lg-2">{{company.url}}</td>
      <td class="overflow-ellipsis col-3 col-sm-4 col-lg-6">{{company.description}}</td>
      <td class="col-4 col-sm-3 col-lg-2">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item me-2">
            <i class="fas fa-paint-brush border border-primary text-primary rounded-3 py-1 px-2"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-trash border border-danger text-danger rounded-3 py-1 px-2"></i>
          </li>
        </ul>
      </td>
    </tr>
  </ng-template>
</p-table>
