<div *ngIf="topics.length > 0; else elseBlock">
  <ul>
    <li *ngFor="let topic of topics">
      <a routerLink="/{{ univers.FORUM.url }}/topic/{{ topic.id }}">{{ topic.title }}</a>
      by <a href="#">{{ topic.author.username }}</a> à {{ topic.createdAt }}
      <app-edit-topic-button [topic]="topic" buttonName="Edit"></app-edit-topic-button>
    </li>
  </ul>
</div>

<ng-template #elseBlock>
  Pas de sujet :(
</ng-template>
<app-create-topic-button buttonName="Créer un topic"></app-create-topic-button>

