<form
  (ngSubmit)="onSubmit()"
  [formGroup]="formTraining"
>
  <div class="form-floating mb-4">
    <input
      [ngClass]="{'ng-invalid ng-touched': (isSubmitted || formTraining.controls['label'].touched) && formTraining.controls['label'].errors}"
      class="form-control form-control-lg px-4"
      formControlName="label"
      id="labelInput"
      placeholder="Nom de la compagnie"
    >
    <label
      class="form-label px-4"
      for="labelInput"
    >
      Intitulé de la formation
    </label>
    <div
      *ngIf="(isSubmitted || formTraining.controls['label'].touched) && formTraining.controls['label'].errors"
      class="text-danger"
    >
      Vous devez fournir un libellé pour cette formation.
    </div>
  </div>
  <div class="form-floating mb-4">
    <input
      [ngClass]="{'ng-invalid ng-touched': (isSubmitted || formTraining.controls['school'].touched) && formTraining.controls['school'].errors}"
      class="form-control form-control-lg px-4"
      formControlName="school"
      id="schoolInput"
      placeholder="Nom de l'expérience"
    >
    <label
      class="form-label px-4"
      for="schoolInput"
    >
      Nom de l'établissement
    </label>
    <div
      *ngIf="formTraining.controls['label'].touched && formTraining.controls['label'].errors"
      class="text-danger"
    >
      Vous devez fournir un nom d'établissement ou une organisation pour cette formation.
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-auto">
      <label
        class="ms-3"
        for="dateInput"
      >
        Date d'obtention
      </label>
    </div>
    <p-calendar
      [yearNavigator]="true"
      [yearRange]="constant.DEFAULT_YEAR_RANGE"
      appendTo="body"
      dateFormat="yy-mm-dd"
      formControlName="date"
      id="dateInput"
      inputStyleClass="form-control"
    >
    </p-calendar>
    <div
      *ngIf="formTraining.controls['date'].touched && formTraining.controls['date'].errors"
      class="text-danger"
    >
      Vous devez fournir une date d'obtention pour cette formation.
    </div>
  </div>
  <div class="d-flex justify-content-center sidebar-options">
    <button
      class="btn btn-primary w-50"
      type="submit"
    >
      Enregistrer
    </button>
  </div>
</form>
