<form
  [ngClass]="{'was-validated': isSubmitted}"
  [formGroup]="userForm"
>
  <fieldset>
    <legend>Informations Personnelles</legend>

    <!-- username -->
    <div class="row mb-3">
      <label for="inputUsername" class="col-md-4 col-lg-3 col-form-label">Nom d'utilisateur</label>
      <div class="col-md-8 col-lg-9">
        <input
          id="inputUsername"
          type="text"
          class="form-control"
          name="inputUsername"
          formControlName="username"
        >
      </div>
    </div>

    <!-- firstname -->
    <div class="row mb-3">
      <label for="inputFirstname" class="col-md-4 col-lg-3 col-form-label mandatory">Prénom</label>
      <div class="col-md-8 col-lg-9">
        <input
          id="inputFirstname"
          type="text"
          class="form-control"
          name="inputFirstname"
          aria-describedby="inputFirstnameFeedback"
          formControlName="firstname"
          placeholder="Prénom"
          [ngClass]="{'is-invalid': firstname.invalid && (firstname.dirty || firstname.touched)}"
        >
        <div id="inputFirstnameFeedback" class="invalid-feedback">
          Vous devez saisir votre prénom
        </div>
      </div>
    </div>

    <!-- lastname -->
    <div class="row mb-3">
      <label for="inputLastname" class="col-md-4 col-lg-3 col-form-label mandatory">Nom</label>
      <div class="col-md-8 col-lg-9">
        <input
          id="inputLastname"
          type="text"
          class="form-control"
          name="inputLastname"
          aria-describedby="inputLastnameFeedback"
          formControlName="lastname"
          placeholder="Nom de famille"
          [ngClass]="{'is-invalid': lastname.invalid && (lastname.dirty || lastname.touched)}"
        >
        <div id="inputLastnameFeedback" class="invalid-feedback">
          Vous devez saisir votre nom de famille
        </div>
      </div>
    </div>

    <!-- email -->
    <div class="row mb-3">
      <label for="inputEmail" class="col-md-4 col-lg-3 col-form-label mandatory">Adresse email</label>
      <div class="col-md-8 col-lg-9">
        <input
          id="inputEmail"
          type="text"
          class="form-control"
          name="inputEmail"
          aria-describedby="inputEmailFeedback"
          formControlName="email"
          placeholder="Nom de famille"
          [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}"
        >
        <div id="inputEmailFeedback" class="invalid-feedback">
          Vous devez saisir une adresse email valide
        </div>
      </div>
    </div>

    <!-- téléphone -->
    <div class="row mb-3">
      <label for="inputPhoneNumber" class="col-md-4 col-lg-3 col-form-label">Téléphone</label>
      <div class="col-md-8 col-lg-9">
        <input name="inputPhoneNumber" type="tel" class="form-control" id="inputPhoneNumber" formControlName="phoneNumber" placeholder="0660666666">
      </div>
    </div>

    <!-- date de naissance -->
    <div class="row mb-3">
      <label for="inputBirthday" class="col-md-4 col-lg-3 col-form-label">Date de naissance</label>
      <div class="col-md-8 col-lg-9">
        <input name="inputBirthday" type="date" class="form-control" id="inputBirthday" formControlName="birthday">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Présentation</legend>

    <!-- à propos -->
    <div class="row mb-3">
      <label for="inputPresentation" class="col-md-4 col-lg-3 col-form-label">&Agrave; propos de moi</label>
      <div class="col-md-8 col-lg-9">
      <textarea
        name="inputPresentation"
        class="form-control"
        id="inputPresentation"
        formControlName="presentation"
        placeholder="Décrivez vous en quelques mots ... "
      ></textarea>
      </div>
    </div>

    <!-- objectif personnel -->
    <div class="row mb-3">
      <label for="inputPurpose" class="col-md-4 col-lg-3 col-form-label">Mon objectif professionnel</label>
      <div class="col-md-8 col-lg-9">
      <textarea
        name="inputPurpose"
        class="form-control"
        id="inputPurpose"
        formControlName="purpose"
        placeholder="Décrivez vos attentes, votre projet professionnel, ... "
      ></textarea>
      </div>
    </div>

    <!-- mes attentes -->
    <div class="row mb-3">
      <label for="inputExpectation" class="col-md-4 col-lg-3 col-form-label">Ce que j'attends du réseau</label>
      <div class="col-md-8 col-lg-9">
      <textarea
        name="inputExpectation"
        class="form-control"
        id="inputExpectation"
        formControlName="expectation"
        placeholder="Décrivez vos attentes du réseau"
      ></textarea>
      </div>
    </div>

    <!-- mes apports -->
    <div class="row mb-3">
      <label for="inputContribution" class="col-md-4 col-lg-3 col-form-label">Ce que je peux apporter au réseau</label>
      <div class="col-md-8 col-lg-9">
      <textarea
        name="inputContribution"
        class="form-control"
        id="inputContribution"
        formControlName="contribution"
        placeholder="Présentez en quelques lignes ce que vous pouvez apporter au réseau "
      ></textarea>
      </div>
    </div>

  </fieldset>

  <div class="text-center">
    <button
      type="submit"
      class="btn btn-primary btn-lg"
      (click)="submit()"
      [disabled]="isLoading"
    >
      <!-- spinner -->
      <span
        aria-hidden="true"
        class="spinner-border spinner-border-sm"
        role="status"
        [ngStyle]="{'visibility' : isLoading ? 'visible' : 'hidden'}"
      ></span>
      Enregistrer
    </button>
  </div>
</form>
