<div class="row">
  <div class="col-2 list-group">
    <!--    <a-->
    <!--      [queryParams]="{type: " all"}"-->
    <!--    aria-current="true"-->
    <!--    class="list-group-item list-group-item-action"-->
    <!--    routerLink="users/{{userId}}/friends"-->
    <!--    >-->
    <!--    Mes amis-->
    <!--    </a>-->
    <a class="list-group-item list-group-item-action ">Demandes reçues</a>
    <a class="list-group-item list-group-item-action">Demandes envoyées</a>
  </div>
  <!--  <a [queryParams]="{branch: myBranches[0].id}" [routerLink]="['/einstellungen/kalender']" class="nav-link"-->
  <!--  >-->
  <!--    Kalender verwalten-->
  <!--  </a>-->
  <!--  PATHPARAM DEMAIN !-->

  <div class="col-9 ms-5">
    <div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 gap-lg-5 mb-2">
      <ng-container *ngFor="let user of users">
        <app-user-card [user]="user">
          <div class="d-grid mt-4 mb-2">
            <button
              class="btn btn-primary rounded-pill btn-sm background-primary"
              type="button"
            >
              <i-feather class="icon" name="plus"></i-feather>
              Ajouter
            </button>
          </div>
        </app-user-card>
      </ng-container>
    </div>
  </div>
  <p-paginator
    (onPageChange)="paginate($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="rowsPerPage"
    [totalRecords]="pageable.totalElements"
  >
  </p-paginator>

</div>
