<link rel="stylesheet" href="personal-card.component.scss">
<app-user-card [user]="user">
  <div class="row">
    <div class="row m-0 p-1">
      <div class="col-5 text-start fw-bold icon-field">
        <i-feather name="Mail" class="icon me-2 primary"></i-feather>
        <span class="v-align-middle">Email</span>
      </div>
      <div class="col-7 text-end m-0">{{user.email}}</div>
    </div>
    <div class="row m-0 p-1">
      <div class="col-7 text-start fw-bold icon-field">
        <i-feather name="Phone" class="icon me-2 primary"></i-feather>
        <span class="v-align-middle">Télephone</span>
      </div>
      <div class="col-5 text-end m-0">{{user.phoneNumber}}</div>
    </div>
    <div class="row m-0 p-1">
      <div class="col-7 text-start fw-bold icon-field">
        <i-feather name="Calendar" class="icon me-2 primary"></i-feather>
        <span class="v-align-middle">Anniversaire</span>
      </div>
      <div class="col-5 text-end m-0">{{user.birthday}}</div>
    </div>
  </div>
  <div class="text-start">
    <div class="row mt-5">
      <h2>Loisirs / Hobbies</h2>
      <p>{{user.hobbies}}</p>
    </div>
    <div class="row mt-3">
      <h2>Présentation</h2>
      <p>{{user.presentation}}</p>
    </div>
    <div class="row mt-3">
      <h2>Quel est mon objectif professionnel</h2>
      <p>{{user.purpose}}</p>
    </div>
    <div class="row mt-3">
      <h2>Ce que je peux apporter au réseau</h2>
      <p>{{user.expectation}}</p>
    </div>
    <div class="row mt-3">
      <h2>Ce que j'attends du réseau</h2>
      <p>{{user.contribution}}</p>
    </div>
    <div class="row mt-3">
      <h2>Mon parcours au sein de l’institution</h2>
      <div class="row m-0 p-1">
        <div class="col-8 text-start fw-bold icon-field">
          <i-feather name="Shield" class="icon me-2 primary"></i-feather>
          <span class="v-align-middle">Armée d'origine</span>
        </div>
        <div class="col-4 text-end m-0">{{user.armyCorps}}</div>
      </div>
      <div class="row m-0 p-1">
        <div class="col-8 text-start fw-bold icon-field">
          <i-feather name="Award" class="icon me-2 primary"></i-feather>
          <span class="v-align-middle">Corps Statuaire</span>
        </div>
        <div class="col-4 text-end m-0">{{user.rank}}</div>
      </div>
    </div>
  </div>
</app-user-card>
