<ng-container *ngIf="profile$ | async as profile">
  <section class="section profile">
    <div class="row">
      <div class="col-xl-3">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <app-user-avatar
              size="xlarge"
              shape="rounded-circle"
              [profile]="profile"
            ></app-user-avatar>

            <h2>{{profile.firstname}} {{profile.lastname}}</h2>
            <h3>@{{profile.username}}</h3>
          </div>
        </div>

      </div>

      <div class="col-xl-9">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-overview"
                  role="tab"
                  (click)="selectTab(tabEnum.PROFILE)"
                  [attr.aria-selected]="activeTab === tabEnum.PROFILE"
                  [tabIndex]="activeTab === tabEnum.PROFILE ? 1 : -1"
                  [ngClass]="{'show active': activeTab === tabEnum.PROFILE}"
                >
                  Profil
                </button>
              </li>

              <ng-container *appDisplayIfCurrentUser="profile.username">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-edit"
                    role="tab"
                    (click)="selectTab(tabEnum.EDIT_PROFILE)"
                    [attr.aria-selected]="activeTab === tabEnum.EDIT_PROFILE"
                    [ngClass]="{'active': activeTab === tabEnum.EDIT_PROFILE}"
                    [tabIndex]="activeTab === tabEnum.EDIT_PROFILE ? 1 : -1"
                  >
                    Editer le Profil
                  </button>
                </li>

                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-settings"
                    role="tab"
                    (click)="selectTab(tabEnum.SETTINGS)"
                    [attr.aria-selected]="activeTab === tabEnum.SETTINGS"
                    [ngClass]="{'active': activeTab === tabEnum.SETTINGS}"
                    [tabIndex]="activeTab === tabEnum.SETTINGS ? 1 : -1"
                  >
                    Réglages
                  </button>
                </li>

                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-change-password"
                    role="tab"
                    (click)="selectTab(tabEnum.PASSWORD)"
                    [attr.aria-selected]="activeTab === tabEnum.PASSWORD"
                    [ngClass]="{'active': activeTab === tabEnum.PASSWORD}"
                    [tabIndex]="activeTab === tabEnum.PASSWORD ? 1 : -1"
                  >
                    Modifier le mot de passe
                  </button>
                </li>
              </ng-container>

            </ul>
            <div class="tab-content pt-3">

              <div
                role="tabpanel"
                id="profile-overview"
                class="tab-pane fade profile-overview"
                [ngClass]="{'show active': activeTab === tabEnum.PROFILE}"
              >
                <app-profile-overview-tab [profile]="profile"></app-profile-overview-tab>
              </div>

              <ng-container *appDisplayIfCurrentUser="profile.username">
                <div
                  role="tabpanel"
                  id="profile-edit"
                  class="tab-pane fade profile-edit pt-3"
                  [ngClass]="{'show active': activeTab === tabEnum.EDIT_PROFILE}"
                >
                  <app-edit-profile-tab [profile]="profile"></app-edit-profile-tab>
                </div>

                <div
                  role="tabpanel"
                  id="profile-settings"
                  class="tab-pane fade pt-3"
                  [ngClass]="{'show active': activeTab === tabEnum.SETTINGS}"
                >
                  <app-edit-settings-tab></app-edit-settings-tab>
                </div>

                <div
                  role="tabpanel"
                  id="profile-change-password"
                  class="tab-pane fade pt-3"
                  [ngClass]="{'show active': activeTab === tabEnum.PASSWORD}"
                >
                  <app-change-password-tab></app-change-password-tab>
                </div>
              </ng-container>
            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>
</ng-container>
