<div class="card">
  <div class="card-body">
    <div class="card-header bg-white text-center">
      Les groupes les plus populaires
    </div>
    <div class="mt-3">
      <app-top-group-skeleton *ngIf="isLoading"></app-top-group-skeleton>
      <ng-container *ngIf="groups?.length; else noGroup">
        <ol>
          <li *ngFor="let group of groups">{{group.name}}</li>
        </ol>

        <div class="d-grid gap-2">
          <button class="btn btn-primary">Voir tout</button>
        </div>
      </ng-container>
      <ng-template #noGroup>
        <p *ngIf="!isLoading">
          Aucun groupe n'a encore été créé. <a (click)="openSidebarCreationGroup()" class="btn-link cursor-pointer">Créer un groupe ?</a>
        </p>
      </ng-template>
    </div>
  </div>
</div>
