<p-table
  (onLazyLoad)="loadJobs($event)"
  [lazy]="true"
  [loading]="loading"
  [paginator]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [rows]="pageable.rows"
  [showCurrentPageReport]="true"
  [totalRecords]="pageable.totalElements"
  [value]="pageable.content"
  currentPageReportTemplate="{first} à {last} sur {totalRecords} entrées"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="overflow-ellipsis text-wrap col-5 col-sm-3 col-lg-2" scope="col">{{ "Nom" | uppercase }}</th>
      <th class="overflow-ellipsis text-wrap col-1 col-sm-1 col-lg-1 px-2" scope="col">{{ "Type" | uppercase}}</th>
      <th class="overflow-ellipsis text-wrap col-4 col-sm-3 col-lg-2 px-2"
          scope="col">{{"Localisation" | uppercase}}</th>
      <th class="overflow-ellipsis text-wrap col-7 col-sm-4 col-lg-4 px-2"
          scope="col">{{"Description" | uppercase}}</th>
      <th class="overflow-ellipsis text-wrap text-center col-3 col-sm-3 col-md-2 col-lg-1 px-2" scope="col">
        {{"Actions" | uppercase}}
      </th>
    </tr>
  </ng-template>
  <ng-template let-job pTemplate="body">
    <tr>
      <td class="overflow-ellipsis text-wrap col-5 col-sm-3 col-lg-2">{{job.title}}</td>
      <td class="overflow-ellipsis text-wrap col-1 col-sm-1 col-lg-1 px-2">{{job.contractType?.label}}</td>
      <td class="overflow-ellipsis text-wrap col-4 col-sm-3 col-lg-2 px-2">{{job.location}}</td>
      <td class="overflow-ellipsis col-sm-3 col-md-2 col-lg-1 px-2">{{job.description}}</td>
      <td class="d-flex justify-content-center px-2">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <button
              class="btn"
              data-bs-placement="top"
              data-bs-toggle="tooltip"
              title="Editer"
              type="button"
            >
              <i class="fas fa-pen border border-primary text-primary rounded-3 px-2 py-1"></i>
            </button>
          </li>
          <li class="list-inline-item">
            <button
              class="btn"
              data-bs-placement="top"
              data-bs-toggle="tooltip"
              title="Supprimer"
              type="button"
            >
              <i class="fas fa-trash border border-danger text-danger rounded-3 px-2 py-1"></i>
            </button>
          </li>
          <li class="list-inline-item">
            <button
              class="btn"
              data-bs-placement="top"
              data-bs-toggle="tooltip"
              title="Archiver"
              type="button"
            >
              <i *ngIf="!isArchived; else archivedIcon"
                 class="fas fa-box border border-info text-info rounded-3 px-2 py-1"></i>
            </button>
          </li>
          <ng-template #archivedIcon>
            <li class="list-inline-item">
              <button
                class="btn"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="Désarchiver"
                type="button"
              >
                <i class="fas fa-box-open border border-danger text-danger rounded-3 px-2 py-1"></i>
              </button>
            </li>
          </ng-template>
        </ul>
      </td>
    </tr>
  </ng-template>
</p-table>
