@import "src/assets/variables";

.heading {
  font-size: 48px;
}

.subheading {
  font-size: 10px;
}

p {
  font-size: 14px;
  color: $primary;
  font-weight: bold;
}

.a-head {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: $danger;
}

.img-intro {
  height: 130px;
}

.custom-mt {
  margin-top: 5rem;
}
