.superposition {
  position: absolute;
  z-index: -2;
  left: 560px;
  top: 480px;
  background-color: #406bbc;
  //height: 274px;
  //width: 700px;
}

.img-superposition {
  margin-top: 1.5rem;
  top: 50%;
}
