@import "src/assets/variables";

.ahead {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ahead::after {
  height: 3px;
  display: block;
  width: 200px;
  background: $danger;
  content: '';
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.img-intro {
  height: 130px;
}

p {
  font-size: 14px;
  color: $primary;
  font-weight: bold;
}
