<div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 gap-lg-5 mb-2">
  <ng-container *ngFor="let user of users">
    <app-user-card [user]="user">
      <div class="d-grid mt-4 mb-2">
        <button
          class="btn btn-primary rounded-pill btn-sm background-primary"
          type="button"
        >
          <i-feather class="icon" name="plus"></i-feather>
          Ajouter
        </button>
      </div>
    </app-user-card>
  </ng-container>
</div>
<p-paginator
  (onPageChange)="paginate($event)"
  [rowsPerPageOptions]="[10, 25, 50]"
  [rows]="rowsPerPage"
  [totalRecords]="pageable.totalElements"
>
</p-paginator>
