<div class="card shadow-sm border-0 card-user">
  <div class="card-header"></div>
  <div class="d-flex align-items-center justify-content-center mb-4 img-container">
    <div class="card-options">
      <ng-container *ngIf="!readOnly">
        <i-feather
          (click)="toggleModeEdition()"
          *ngIf="!isEditing; else rollbackAndSaveIcon"
          class="cursor-pointer"
          name="edit-2"
        >
        </i-feather>
        <ng-template #rollbackAndSaveIcon>
          <i-feather
            name="rotate-ccw"
            class="cursor-pointer danger-on-hover me-2"
            (click)="toggleModeEdition()"
          >
          </i-feather>
          <i-feather
            name="save"
            class="cursor-pointer success-on-hover"
            (click)="updatePersonalInfo()"
          >
          </i-feather>
        </ng-template>
      </ng-container>
    </div>

    <div class="img-container">
      <ng-container *ngIf="readOnly; else userImageFileChooser">
        <app-user-avatar
          [profile]="profile"
          [shadow]="true"
          size="xlarge"
          shape="rounded-circle"
          class="m-0"
        ></app-user-avatar>
      </ng-container>
      <ng-template #userImageFileChooser>
        <app-profil-pic-with-hover [profile]="profile"></app-profil-pic-with-hover>
      </ng-template>
    </div>
  </div>

  <div class="card-body mt-5 px-5">
    <h1 class="mt-4">{{profile.firstname}} {{profile.lastname}}</h1>

    <section class="user-contacts mt-5">
      <ul class="list-unstyled">
        <li class="list-item item-mail">
          <ng-container *ngIf="!isEditing; else mailEditionTemplate">
            <app-user-info [value]="profile.email"></app-user-info>
          </ng-container>
          <ng-template #mailEditionTemplate>
            <input
              [(ngModel)]="profile.email"
              class="form-control px-4"
              placeholder="Email"
            >
          </ng-template>
        </li>
        <li class="list-item item-phone">
          <ng-container *ngIf="!isEditing; else phoneEditionTemplate">
            <app-user-info [value]="profile.phoneNumber"></app-user-info>
          </ng-container>
          <ng-template #phoneEditionTemplate>
            <input
              [(ngModel)]="profile.phoneNumber"
              class="form-control px-4"
              placeholder="Numéro de téléphone"
            >
          </ng-template>
        </li>
        <li class="list-item item-birthday">
          <ng-container *ngIf="!isEditing; else birthdayEditionTemplate">
            <app-user-info [value]="profile.birthday"></app-user-info>
          </ng-container>
          <ng-template #birthdayEditionTemplate>
            <p-calendar
              [(ngModel)]="profile.birthday"
              [yearNavigator]="true"
              [yearRange]="constant.DEFAULT_YEAR_RANGE"
              dataType="string"
              dateFormat="yy-mm-dd"
              id="birthdayInput"
              inputStyleClass="form-control px-4 fs-5"
              placeholder="Date de naissance"
            >
            </p-calendar>
          </ng-template>
        </li>
      </ul>
    </section>

    <section class="profile-highlights my-5">
      <div class="highlight-item user-hobbies">
        <h2>Loisirs / Hobbies</h2>
        <div *ngIf="!isEditing; else hobbiesEditionTemplate" class="">
          <p>
            <app-user-info [value]="profile.hobbies"></app-user-info>
          </p>
        </div>
        <ng-template #hobbiesEditionTemplate>
          <div class="mb-4">
                <textarea
                  [(ngModel)]="profile.hobbies"
                  class="form-control px-4"
                  rows="4"
                ></textarea>
          </div>
        </ng-template>
      </div>

      <div class="highlight-item user-presentation">
        <h2>Présentation</h2>
        <div *ngIf="!isEditing; else presentationEditionTemplate">
          <p>
            <app-user-info [value]="profile.presentation"></app-user-info>
          </p>
        </div>
        <ng-template #presentationEditionTemplate>
          <div class="mb-4">
                <textarea
                  [(ngModel)]="profile.presentation"
                  class="form-control px-4"
                  rows="4"
                ></textarea>
          </div>
        </ng-template>
      </div>

      <div class="highlight-item user-purpose">
        <h2>Quel est mon objectif professionnel</h2>
        <div *ngIf="!isEditing; else purposeEditionTemplate">
          <p>
            <app-user-info [value]="profile.purpose"></app-user-info>
          </p>
        </div>
        <ng-template #purposeEditionTemplate>
          <div class="mb-4">
                <textarea
                  [(ngModel)]="profile.purpose"
                  class="form-control px-4"
                ></textarea>
          </div>
        </ng-template>
      </div>

      <div class="highlight-item user-expectation">
        <h2>Ce que j'attends du réseau</h2>
        <div *ngIf="!isEditing; else expectationEditionTemplate">
          <p>
            <app-user-info [value]="profile.expectation"></app-user-info>
          </p>
        </div>
        <ng-template #expectationEditionTemplate>
          <div class="mb-4">
                <textarea
                  [(ngModel)]="profile.expectation"
                  class="form-control px-4"
                  rows="4"
                ></textarea>
          </div>
        </ng-template>
      </div>

      <div class="highlight-item user-contribution">
        <h2>Ce que je peux apporter au réseau</h2>
        <div *ngIf="!isEditing; else contributionEditionTemplate">
          <p>
            <app-user-info [value]="profile.contribution"></app-user-info>
          </p>
        </div>
        <ng-template #contributionEditionTemplate>
          <div class="mb-4">
                <textarea
                  [(ngModel)]="profile.contribution"
                  class="form-control px-4"
                  rows="4"
                ></textarea>
          </div>
        </ng-template>
      </div>
    </section>

  </div>
</div>

