<div class="row justify-content-center align-items-center">
  <div class="col-12 col-xl-5 text-center">
    <img
      alt="banner"
      class="img-fluid"
      src="/assets/img/banner.jpg"
    >
  </div>

  <div class="col-12 col-md-4 text-center align-self-center summary">
    <h1 class="text-center mt-5 heading">Implic’<span class="text-danger fst-italic">action</span></h1>
    <p class="subheading text-uppercase mb-4">Une association qui vous accompagne grâce à sa dynamique réseau !</p>
    <p>Pour partager, échanger, préparer dans un seul but commun : réussir votre reconversion !</p>

    <p>Depuis sa création en 2009, l’association n’a cessé de compter davantage de membres. Sa présence territoriale
      s’est aussi étendue par la présence des groupes régionaux et la signature des partenariats.</p>

    <p>S’adaptant à la situation sanitaire Covid19, les membres d’Implic’Action poursuivent leurs actions sur le
      terrain mais également en visioconférence !</p>

    <p>Consultez le calendrier des événements pour vous inscrire et participer aux réunions !</p>
    <button class="btn btn-primary mt-2">Adhérer à l'association</button>
  </div>
</div>

<div class="row custom-mt key-points">
  <div class="col-12 text-center">
    <h2 class="heading">
      <span class="heading-part">Implic’</span>
      <span class="heading-part text-danger fst-italic">action</span>
      <span class="heading-part">, c'est ...</span>
    </h2>
    <div class="row justify-content-evenly align-self-center mt-3 mt-sm-5 px-2 px-sm-5">
      <ng-container *ngFor="let valuePoint of valuePoints">
        <app-value-point
          [valuePoint]="valuePoint"
          class="col-lg-3 col-md-6 mb-2"
        ></app-value-point>
      </ng-container>
    </div>
  </div>
</div>

<div class="row custom-mt latest-section">
  <div class="row m-0 p-1">
    <app-home-heading-column
      [title]="'Prochains évènements'"
      class="col-md-6 m-0 p-0"
      buttonLink="/"
    >
      <app-events-list
        [latestEvents]="latestEvents"
        [isLoading]="isLoading"
      ></app-events-list>
    </app-home-heading-column>

    <app-home-heading-column
      [title]="'Dernières publications'"
      class="col-md-6 m-0 p-0"
      buttonLink="/{{univers.DISCUSSIONS.url}}"
    >
      <app-latest-posts-list
        [latestPosts]="latestPosts"
        [isLoading]="isLoading"
      ></app-latest-posts-list>
    </app-home-heading-column>
  </div>
  <div class="px-1">
    <app-home-heading-column
      [title]="'Nouvelles offres'"
      class="col-12 mt-3"
      buttonLink="/{{univers.JOBS.url}}"
    >
      <app-latest-jobs-list
        [latestJobs]="latestJobs"
        [isLoading]="isLoading"
      ></app-latest-jobs-list>
    </app-home-heading-column>
  </div>
</div>
<div>
</div>
