@import "src/assets/variables";

.heading {
  font-size: 3rem;
}

@media screen and (max-width: 575px) {
  .heading {
    font-size: 1.75rem;
    word-wrap: break-word;
  }
}

p {
  font-size: 1rem;
  color: $primary;
  font-weight: 600;
}

.key-points, .latest-events-and-jobs {
  margin-top: 5rem;
}
