<div class="row justify-content-center align-items-center">
  <div class="col-12 col-xxl-6 text-center">
    <img
      alt="Association Réseau des Personnels de la Défense"
      class="img-fluid"
      src="/assets/img/banner.jpg"
    >
  </div>

  <section class="col-12 col-xl-8 col-xxl-6 text-center align-self-center mt-4 summary">
    <h1 class="text-center">
      <app-implicaction-logo-text></app-implicaction-logo-text>
    </h1>
    <h2 class="subheading mb-4">Une association qui vous accompagne grâce à sa dynamique réseau !</h2>
    <p>Pour partager, échanger, préparer dans un seul but commun : réussir votre reconversion !</p>

    <p>Depuis sa création en 2009, l’association n’a cessé de compter davantage de membres. Sa présence territoriale
      s’est aussi étendue par la présence des groupes régionaux et la signature des partenariats.</p>

    <p>S’adaptant à la situation sanitaire Covid19, les membres d’
      <app-implicaction-logo-text></app-implicaction-logo-text>
      poursuivent leurs actions sur le
      terrain mais également en visioconférence !
    </p>

    <p>Consultez le calendrier des événements pour vous inscrire et participer aux réunions !</p>
    <button class="btn btn-primary mt-2">Adhérer à l'association</button>
  </section>
</div>


<section class="row col-12 justify-content-center justify-content-md-center justify-content-lg-between justify-content-xxl-evenly mx-0 p-0 px-2 key-points">
  <ng-container *ngFor="let valuePoint of highlightPoints">
    <app-highlight-point
      class="col-lg-3 col-md-6 mb-5 mb-lg-0"
      [valuePoint]="valuePoint"
    ></app-highlight-point>
  </ng-container>
</section>


<section class="latest-records">
  <div class="row mb-4 latest-events-and-topics">
    <app-home-heading-column
      class="col-lg-6"
      buttonLink="/"
      [title]="'Prochains évènements'"
    >
      <app-events-list
        [latestEvents]="latestEvents"
        [isLoading]="isLoading"
      ></app-events-list>
    </app-home-heading-column>

    <app-home-heading-column
      class="col-lg-6 mt-4 mt-lg-0"
      buttonLink="/{{univers.FORUM.url}}"
      [title]="'Dernières publications'"
    >
      <app-latest-posts-list
        [latestTopics]="latestTopics"
        [isLoading]="isLoading"
      ></app-latest-posts-list>
    </app-home-heading-column>
  </div>

  <div class="latest-jobs">
    <app-home-heading-column
      class="col-12"
      buttonLink="/{{univers.JOBS.url}}"
      [title]="'Nouvelles offres'"
    >
      <app-latest-jobs-list
        [latestJobs]="latestJobs"
        [isLoading]="isLoading"
      ></app-latest-jobs-list>
    </app-home-heading-column>
  </div>
</section>
<div>
</div>
