@import "src/assets/variables";

.dropdown-item {
  color: $secondary;
  background-color: transparent;
}

.dropup {

}

.dropdown-menu {
  position: absolute;

  .show {
    z-index: 99 !important;
  }
}
