<form (ngSubmit)="createPost()" [formGroup]="createPostForm" class="post-form">
  <div class="row mb-3 d-flex">
    <div class="col-md-6 d-flex align-items-center">
      <p-avatar
        [image]="currentUser.imageUrl || constant.USER_IMAGE_DEFAULT_URI"
        shape="circle"
        size="xlarge"
        styleClass="me-2"
      >
      </p-avatar>
      <div>
        {{currentUser.username}}
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end">
      <p-dropdown
        [(ngModel)]="selectedGroup"
        [ngModelOptions]="{standalone: true}"
        [options]="groups"
        [virtualScroll]="true"
        optionLabel="name"
        placeholder="sélectionner un groupe"
        styleClass="rounded-pill ps-3"
      >
        <ng-template pTemplate="selectedItem">
          <div *ngIf="selectedGroup" class="d-flex country-item-value">
            <img
              *ngIf="selectedGroup.imageUrl"
              [src]="selectedGroup.imageUrl"
              alt="{{selectedGroup.name}} logo"
              class="dropdown-image me-2"
            >
            <div>{{selectedGroup.name}}</div>
          </div>
        </ng-template>
        <ng-template let-group pTemplate="item">
          <div class="d-flex w-100">
            <img
              *ngIf="group.imageUrl"
              [src]="group.imageUrl"
              alt="{{group.name}} logo"
              class="dropdown-image me-2"
            >
            <div>{{group.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="form-floating mb-3">
    <input
      class="form-control px-4"
      formControlName="name"
      id="postNameInput"
      placeholder="Titre de la discussion"
    />
    <label
      class="form-label px-4"
      for="postNameInput"
    >
      Titre de la discussion
    </label>
  </div>

  <div class="my-2 mb-4">
    <p-editor
      [style]="{'height':'200px'}"
      formControlName="description"
      placeholder="Contenu de la discussion"
    >
    </p-editor>
  </div>
  <div class="d-flex justify-content-end sidebar-options">
    <button
      class="btn btn-primary w-100"
      type="submit"
    >
      Enregistrer
    </button>
  </div>
</form>
