.dropdown-image {
  width: 28px;
}

:host ::ng-deep .p-dropdown {
  width: 14rem;
}

.country-item-value {
  img.flag {
    width: 17px;
  }
}

:root ::ng-deep {
  p-dropdown {
    min-width: 80%;
  }
}
