<div class="col">
  <div class="card py-4 px-4 shadow-sm border-0">
    <div class="mb-3 d-flex justify-content-between">
      <h2>Formations</h2>
      <div>
        <i-feather *ngIf="!isEditing; else saveBlock" (click)="toggleModeEdition()" name="edit"
                   class="cursor-pointer"></i-feather>
        <ng-template #saveBlock>
          <i-feather (click)="toggleModeEdition()" name="rotate-ccw" class="cursor-pointer"></i-feather>
          <i-feather (click)="updateTrainings()" name="save" class="cursor-pointer"></i-feather>
        </ng-template>
      </div>
    </div>
    <ul>
      <ng-container *ngIf="trainings?.length; else emptyInfo">
        <li
          *ngFor="let training of (isEditing ? trainingCopies : trainings); trackBy: trackByTrainingId; last as isLast;"
          class="list-unstyled"
        >
          <app-training-detail [training]="training" [isEditing]="isEditing"></app-training-detail>
          <hr *ngIf="!isLast" class="mx-4"/>
        </li>
      </ng-container>
      <ng-template #emptyInfo>
        <span class="fst-italic">Non renseigné.</span>
      </ng-template>
    </ul>
  </div>
</div>
