@import "src/assets/base-profile-timeline";

.card {
  border-radius: 11px;
}

.resume-item .resume-data {
  padding-bottom: 25px;

  .year {
    text-align: center;

    &:before {
      content: "\f19d";
    }

    &:after {
      height: 100%;
    }
  }
}
