<div class="col">
  <div class="card py-4 px-4 shadow-sm border-0">
    <div class="mb-3 d-flex justify-content-between">
      <h2>Formations</h2>
      <div *ngIf="!readOnly">
        <i-feather
          (click)="onAddTraining()"
          class="cursor-pointer secondary-on-hover"
          data-placement="bottom"
          data-toggle="tooltip"
          name="plus"
          title="Ajouter une formation"
        >
        </i-feather>
      </div>
    </div>
    <ul>
      <ng-container *ngIf="trainings?.length else emptyInfo">
        <li
          *ngFor="let training of trainings; trackBy: trackByTrainingId; last as isLast;"
          class="list-unstyled"
        >
          <app-training-detail
            [readOnly]="readOnly"
            [training]="training"
          >
          </app-training-detail>
          <hr *ngIf="!isLast" class="mx-4 mb-5"/>
        </li>
      </ng-container>
      <ng-template #emptyInfo>
        <span class="fst-italic">Non renseigné.</span>
      </ng-template>
    </ul>
  </div>
</div>
