<div class="message-block d-flex bg-white border border-1 border-dark rounded mb-4">
  <div *ngIf="message.author as author"
       class="message__author border-end border-dark d-flex align-items-center flex-column p-4">
    <img [alt]="author.username" [src]="author.imageUrl"
         class="w-50 author__avatar mb-4 border border-1 border-dark rounded">
    <div class="author-username">
      <a routerLink="/{{ univers.USERS.url }}/{{ message.author.id }}/profile">{{ author.username }}</a>
    </div>
    <div>Inscrit depuis:</div>
    <div>{{ author.registeredAt | date: DATE_FORMAT }}</div>
  </div>
  <div class="message__content flex-grow-1 position-relative">
    <small class="created-at m-2">
      {{ message.createdAt | date: DATETIME_FORMAT }}
    </small>
    <p [innerHTML]="message.message" class="p-2"></p>
    <small *ngIf="message.editedAt !== message.createdAt" class="modified-at position-absolute bottom-0 end-0 m-2">
      modifié le {{ message.editedAt | date: DATETIME_FORMAT }}
    </small>
  </div>
</div>
