<div class="message-block d-flex bg-white border border-1 border-dark rounded mb-4">
  <div *ngIf="message.author as author"
       class="border-end border-dark d-flex align-items-center flex-column p-4 message__author">
    <app-user-avatar [profile]="author" size="medium"></app-user-avatar>
    <div class="author-username">
      <a [routerLink]="['/', univers.COMMUNITY.url, 'profile', message.author.username]">{{ author.username }}</a>
    </div>
    <div>Inscrit depuis:</div>
    <div>{{ author.registeredAt | date: constants.DATE_FORMAT }}</div>
  </div>
  <div class="flex-grow-1 position-relative message__content">
    <small class="m-2 created-at">
      {{ message.createdAt | date: constants.DATETIME_FORMAT }}
    </small>
    <p [innerHTML]="message.message" class="p-2"></p>
    <small *ngIf="message.editedAt !== message.createdAt" class="position-absolute bottom-0 end-0 m-2 modified-at">
      modifié le {{ message.editedAt | date: constants.DATETIME_FORMAT }}
    </small>
  </div>
</div>
