@import "src/assets/variables";

.title {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $primary;

  // permet d'afficher la ligne rouge de séparation
  &::after {
    height: 3px;
    display: block;
    width: 200px;
    background: $danger;
    content: '';
    margin: 15px auto 0;
  }
}

img {
  height: 130px;
  width: auto;
}

.content-text {
  font-size: 0.875rem;
  color: $primary;
  font-weight: bold;
}
