<div class="card mb-4">
  <div class="list-group list-group-flush">

    <ng-container *ngFor="let menuItem of allowedMenuItems">
      <a
        [routerLink]="menuItem.link"
        class="list-group-item d-flex justify-content-between"
        routerLinkActive="active"
      >
        <div *ngIf="menuItem.classIcon">
          <span [class]="menuItem.classIcon" aria-hidden="true"></span>
          {{menuItem.label}}
        </div>
        <span
          *ngIf="menuItem.badge"
          class="badge rounded-pill bg-secondary"
        >
          {{menuItem.badge}}
        </span>
      </a>
    </ng-container>
  </div>
</div>
