<div class="card mb-4">
  <div class="list-group list-group-flush">
    <a
      [routerLinkActiveOptions]="{exact: true}"
      class="list-group-item"
      routerLink="/admin/dashboard"
      routerLinkActive="active"
    >
      Dashboard
    </a>

    <ng-container *ngFor="let menuItem of menuItems">
      <a
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="menuItem.link"
        class="list-group-item d-flex justify-content-between"
        routerLinkActive="active"
      >
        <div *ngIf="menuItem.classIcon">
          <span [class]="menuItem.classIcon" aria-hidden="true"></span>
          {{menuItem.label}}
        </div>
        <span
          *ngIf="menuItem.badge"
          class="badge rounded-pill bg-secondary"
        >
          {{menuItem.badge}}
        </span>
      </a>
    </ng-container>
  </div>
</div>
