$primary: #2B4064;
$secondary: #4D5358;
$info: rgba(1, 41, 112, 0.6);
$warning: #FF8A00;
$light-gray: #768591;
$danger: #d11d00;
$blue: #406bbc;
$dark: #75797a;

// background-color
$primary-bg-color: #f6f9ff;
$secondary-bg-color: #FFFFFF;
