$primary: #2B4064;
$secondary: #4D5358;
$info: #0477BF;
$warning: #FF8A00;
$light-gray: #768591;
$danger: #d11d00;
$light-blue: #27488F;

// background-color
$primary-bg-color: #FAFBFF;
$secondary-bg-color: #FFFFFF;

//contract type color
$cdi-bg-color: #E57231;
$cdd-bg-color: #A131E5;
