$primary: #2B4064;
$secondary: #4D5358;
$info: #0477BF;
$warning: #FF8A00;
$light-gray: #768591;
$danger: #d11d00;
$blue: #406bbc;
$dark: #75797a;

// background-color
$primary-bg-color: #FAFBFF;
$secondary-bg-color: #FFFFFF;
