<div class="card shadow-sm border-0 mb-2 mb-xl-5 py-4 px-4">
  <div class="d-flex flex-row justify-content-between mb-2">
    <h2>Experiences professionnelles</h2>
    <div *ngIf="!readOnly">
      <i-feather
        (click)="onAddExperience()"
        class="cursor-pointer secondary-on-hover"
        data-placement="bottom"
        data-toggle="tooltip"
        name="plus"
        title="Ajouter une expérience"
      >
      </i-feather>
    </div>
  </div>
  <section class="resume-item resume-experience">
    <ng-container *ngIf="experiences?.length else emptyInfo">
      <div class="resume-info">
        <div
          *ngFor="let experience of experiences"
          class="resume-data"
        >
          <div class="year">{{experience.startedAt | date: 'YYYY'}} - {{experience.finishedAt | date: 'YYYY'}}</div>
          <div class="content pe-1">
            <div
              *ngIf="!readOnly"
              class="float-end"
            >
              <i-feather
                (click)="editExperience(experience)"
                class="cursor-pointer me-1 me-xl-2 secondary-on-hover"
                style="width: 20px; height: 20px"
                data-placement="bottom"
                data-toggle="tooltip"
                name="edit-2"
                title="Editer cette expérience"
              >
              </i-feather>
              <i-feather
                (click)="deleteExperience(experience)"
                class="cursor-pointer danger-on-hover"
                style="width: 20px; height: 20px"
                data-placement="bottom"
                data-toggle="tooltip"
                name="trash-2"
                title="Supprimer cette expérience"
              >
              </i-feather>
            </div>
            <p class="text-primary text-uppercase fw-bold">{{experience.label}}</p>
            <p class="text-info">{{experience.companyName}}</p>
            <p class="experience-description"
               [innerHTML]="experience.description | br"
            >
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
  <ng-template #emptyInfo>
    <span class="fst-italic">Non renseigné.</span>
  </ng-template>
</div>
