<div class="card card-user shadow-sm border-0">
  <div class="card-header"></div>
  <div class="img-container d-flex align-items-center justify-content-center">
    <img
      #userImage
      (error)="userImage.src = constant.USER_IMAGE_DEFAULT_URI"
      [src]="user.imageUrl || constant.USER_IMAGE_DEFAULT_URI"
      alt="photo de {{user.firstname}} {{user.lastname}}"
      class="shadow-sm"
    >
  </div>
  <div class="card-body pt-5">
    <div class="h5 text-center m-0">
      <span class="link-profile overflow-ellipsis">
        <a
          class="text-decoration-none"
          title="{{user.firstname}} {{user.lastname}}"
          routerLink="/{{univer.USERS.url}}/{{user.id}}/profile"
        >
          {{user.firstname}} {{user.lastname}}
        </a>
      </span>
    </div>
    <ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
  </div>
</div>
