@import "src/assets/variables";

.card-user {
  background-color: $secondary-bg-color;
  border-radius: 10px;
  max-width: 250px;
}

.card {
  width: 300px;
  overflow: hidden;

  .card-header {
    width: 100%;
    height: 80px;
    background-color: $primary;
  }

  .img-container {
    width: 100%;
    position: absolute;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      z-index: 5;
      border: 8px solid $primary-bg-color;
      margin-top: calc((-50px / 2) * -1);
      border-radius: 50%;
    }
  }
}


