@import "src/assets/variables";

.cdi {
  background-color: $danger;
}

.cdd {
  background-color: $primary;
}

.interim {
  background: $info;
}

.span-contract {
  border-radius: 20px;
  padding: 4px 12px;
}
