@import "src/assets/variables";

.cdi {
  background-color: $warning;
}

.cdd {
  background-color: $info;
}

.interim {
  background: $blue;
}

.span-contract {
  border-radius: 20px;
  padding: 4px 12px;
}
