@import "../../../../assets/variables.scss";
@media (min-width: 768px) {
  .vote-box {
    max-width: 80px;
  }
}

.post-comment {
  color: $secondary;
  font-weight: 500;
  font-size: 1.5em;
  .far.fa-comment-alt {
    padding-top: 2px;
  }

  .comment-word {
    padding-bottom: 2px;
  }
}

.margin-left {
  margin-left: 50px;
}
