<div class="row mb-2">
  <div class="col-1 d-flex align-items-end">
<!--    <i-feather name="Briefcase" class="w-75 h-75 icon text-primary"></i-feather>-->
    <img src="assets/img/job-icon.png" alt="briefcase" class="img-fluid">
  </div>
  <div class="col d-flex align-items-start flex-column align-self-center ps-1">
    <h3 class="pb-1">{{workExperience.companyLabel}}</h3>
    <h4 class="pt-1">{{workExperience.label}}</h4>
  </div>
</div>
<div class="mb-2">
  <p class="text-secondary">{{workExperience.description}}</p>
</div>
<div class="mb-2">
  <i-feather name="Calendar" class="icon me-2"></i-feather>
  <span class="align-middle mt-2 date-text">{{workExperience.startedAt}} - {{workExperience.finishedAt}}</span>
</div>
