<app-profile-card-base>
  <ng-container avatar>
    <p-skeleton size="5.5rem" borderRadius="0.375rem"></p-skeleton>
  </ng-container>
  <ng-container heading>
    <p-skeleton width="95%" height="1.456rem"></p-skeleton>
    <p-skeleton width="10rem" styleClass="mt-1"></p-skeleton>
    <p-skeleton width="10rem" height="48px" styleClass="my-3"></p-skeleton>
  </ng-container>
  <ng-container options>
    <p-skeleton width="10rem" height="1.80rem" styleClass="me-1"></p-skeleton>
  </ng-container>
</app-profile-card-base>
