<div class="card col row flex-column px-0 py-2 mx-0 my-0 card-job">
  <div class="card-header col row align-items-center justify-content-between">
    <div class="col-auto flex-grow-1 text-start overflow-ellipsis">{{job.company?.name}}</div>

    <div class="col-2 d-flex justify-content-end p-0">
      <app-contract-type [type]="job.contractType"></app-contract-type>
    </div>

  </div>
  <div class="card-body row align-items-center">
    <h3 class="text-center text-uppercase m-0 p-0">
      <a
        class="job-title"
        routerLink="/{{univers.JOBS.url}}/{{job.id}}"
        [title]="job.title"
      >
        <span class="d-block overflow-ellipsis">{{job.title}}</span>
      </a>
    </h3>
  </div>
  <div class="card-footer bg-transparent border-0">
    <div class="d-block overflow-ellipsis text-center">{{job.location}} <span *ngIf="job.durationAsString"> • {{job.durationAsString}}</span></div>
  </div>
</div>
