<div class="row col align-items-center mb-2">
  <div class="col-1 d-flex align-items-end">
    <img alt="briefcase" class="img-fluid" src="assets/img/job-icon.png">
  </div>
  <div class="col-10 align-items-start align-self-center ps-1">
    <h3 *ngIf="!isEditing; else compagnyLabelEdition" class="pb-1">{{experience.companyName}}</h3>
    <ng-template #compagnyLabelEdition>
      <div class="form-floating mb-4">
        <input
          [(ngModel)]="experience.companyName"
          class="form-control form-control-lg rounded-pill px-4"
          placeholder="Nom de la compagnie"
          required
        />
        <label class="form-label px-4">Nom de la compagnie</label>
      </div>
    </ng-template>
    <h4 *ngIf="!isEditing; else experienceLabelEdition" class="pt-1">{{experience.label}}</h4>
    <ng-template #experienceLabelEdition>
      <div class="form-floating mb-4">
        <input
          [(ngModel)]="experience.label"
          class="form-control form-control-lg rounded-pill px-4"
          placeholder="Nom de l'expérience"
          required
        />
        <label class="form-label px-4">Nom de l'expérience</label>
      </div>
    </ng-template>
  </div>
  <div *ngIf="isEditing" class="col-1 align-self-start text-end">
    <i-feather
      (click)="deleteExperience(experience)"
      class="cursor-pointer text-danger me-3"
      name="trash-2"
    >
    </i-feather>
  </div>
</div>
<div class="mb-2">
  <p *ngIf="!isEditing; else experienceDescriptionEdition" class="text-secondary">{{experience.description}}</p>
  <ng-template #experienceDescriptionEdition>
    <div class="col-11 mb-4">
      <label class="form-label px-4">Description</label>
      <textarea
        [(ngModel)]="experience.description"
        class="form-control w-100 px-4 text-description"
        rows="4"
      >
      </textarea>
    </div>
  </ng-template>
</div>
<div *ngIf="!isEditing; else startedAtEdition" class="mb-2">
  <i-feather class="icon me-2" name="calendar"></i-feather>
  <span class="align-middle mt-2 date-text">{{experience.startedAt}} - {{experience.finishedAt}}</span>
</div>
<ng-template #startedAtEdition>
  <div class="row col-11 p-0 m-0 ">
    <div class="col form-floating p-0 pe-2 mb-4">
      <span class="form-label px-4">Date début</span>
      <p-calendar
        [(ngModel)]="experience.startedAt"
        [inputStyleClass]="'form-control form-control-lg rounded-pill px-4'"
        [yearNavigator]="true"
        [yearRange]="yearRange"
        appendTo="body"
        dateFormat="yy-mm-dd"
        required
      >
      </p-calendar>
    </div>
    <div class="col form-floating p-0 ps-2 mb-4">
      <span class="form-label px-4" style="overflow: visible !important;">Date fin</span>
      <p-calendar
        [(ngModel)]="experience.finishedAt"
        [inputStyleClass]="'form-control form-control-lg rounded-pill px-4'"
        [yearNavigator]="true"
        appendTo="body"
        dateFormat="yy-mm-dd"
        timeSeparator="-"
        yearRange="1900:2022"
      >
      </p-calendar>
    </div>
  </div>
</ng-template>

