<div class="row mb-2">
  <div class="col-1 d-flex align-items-end">
    <img alt="briefcase" class="img-fluid" src="assets/img/job-icon.png">
  </div>
  <div class="col d-flex align-items-start flex-column align-self-center ps-1">
    <h3 class="pb-1">{{experience.companyLabel}}</h3>
    <h4 class="pt-1">{{experience.label}}</h4>
  </div>
</div>
<div class="mb-2">
  <p class="text-secondary">{{experience.description}}</p>
</div>
<div class="mb-2">
  <i-feather class="icon me-2" name="Calendar"></i-feather>
  <span class="align-middle mt-2 date-text">{{experience.startedAt}} - {{experience.finishedAt}}</span>
</div>
