<div class="row col align-items-center mb-2">
  <div class="col-1 d-flex align-items-end">
    <img alt="briefcase" class="img-fluid" src="assets/img/job-icon.png">
  </div>
  <div class="col-10 align-items-start align-self-center ps-1">
    <h3 class="pb-1">{{experience.companyName}}</h3>
    <h4 class="pt-1">{{experience.label}}</h4>
  </div>
  <div class="col-1 d-flex p-0 flex-row flex-wrap align-items-end">
    <i-feather
      (click)="editExperience(experience)"
      class="cursor-pointer me-xl-2 hover-secondary"
      data-placement="bottom"
      data-toggle="tooltip"
      name="edit-2"
      title="Editer cette expérience"
    >
    </i-feather>
    <i-feather
      (click)="deleteExperience(experience)"
      class="cursor-pointer hover-danger me-xl-3"
      data-placement="bottom"
      data-toggle="tooltip"
      name="trash-2"
      title="Supprimer cette expérience"
    >
    </i-feather>
  </div>
</div>
<div class="mb-2">
  <p [innerHTML]="descriptionWithBr" class="text-secondary"></p>
</div>
<div class="mb-2">
  <i-feather class="icon me-2" name="calendar"></i-feather>
  <span class="align-middle mt-2 date-text">{{experience.startedAt}} - {{experience.finishedAt}}</span>
</div>
