<ng-container *ngIf="!isLoading; else loadingTemplate">
  <p *ngIf="!pageable.content?.length">Il n'y a aucun message dans cette discussion</p>

  <div
    *ngFor="let post of pageable.content; trackBy: trackByItemId"
    class="row p-0 post"
  >
    <app-post-tile [post]="post"></app-post-tile>
  </div>
  <p-paginator
    (onPageChange)="paginate($event)"
    *ngIf="pageable.totalPages > 0"
    [alwaysShow]="false"
    [first]="pageable.first"
    [rowsPerPageOptions]="DEFAULT_ROWS_PER_PAGE_OPTIONS"
    [rows]="pageable.rows"
    [totalRecords]="pageable.totalElements"
  >
  </p-paginator>
</ng-container>
<ng-template #loadingTemplate>
  <ng-container *ngFor="let i of [1,2,3]">
    <app-post-skeleton></app-post-skeleton>
  </ng-container>
</ng-template>
