<footer class="footer text-center text-lg-start text-muted bg-white border-top py-4 px-5">
  <section class="d-flex align-items-center justify-content-center justify-content-lg-end">
    <!-- Right -->
    <ul class="list-inline m-0">
      <ng-container *ngFor="let social of socials">
        <li class="list-inline-item">
          <a [href]="social.url" class="ms-4 text-reset" aria-label="{{social.label}}">
            <i class="fa {{social.icon}}" aria-hidden="true"></i>
          </a>
        </li>
      </ng-container>
    </ul>
    <!-- Right -->
  </section>
</footer>
