<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex">
    <ul class="nav me-auto">
      <li><a [routerLink]="['/']" class="nav-link px-2">Accueil</a></li>
      <li><a class="nav-link px-2 link-dark" href="#">A propos</a></li>
      <li><a class="nav-link px-2 link-dark" href="#">Espace entreprise</a></li>
      <li>
        <a [routerLink]="['/users/list']" class="nav-link px-2 link-dark" routerLinkActive="active">Communauté</a>
      </li>
    </ul>
    <ng-container *ngIf="isLoggedIn; else registrationOptions">
      <ul class="nav align-items-center user-options">
        <li class="nav-item">
          <i-feather class="icon" name="bell"></i-feather>
        </li>
        <li class="nav-item">
          <i-feather class="icon" name="users"></i-feather>
        </li>
        <li class="nav-item">
          <i-feather class="icon" name="inbox"></i-feather>
        </li>
        <li class="nav-item">
          <a aria-expanded="false"
             class="d-block link-dark text-decoration-none dropdown-toggle cursor-pointer"
             data-bs-toggle="dropdown" id="dropdownUser2"
          >
            <img alt="mdo" class="rounded-circle avatar" src="assets/img/default-user.png">
          </a>
          <ul aria-labelledby="dropdownUser" class="dropdown-menu text-small dropdown-user shadow m-0">
            <li><span class="dropdown-item fw-bold ">@{{username}}</span></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item cursor-pointer" routerLink="/users/{{userId}}/profile">Profil</a></li>
            <li><a class="dropdown-item cursor-pointer">Réglages</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item cursor-pointer" routerLink="/admin">Admin</a></li>
            <li><a (click)="logout()" class="dropdown-item cursor-pointer">Se déconnecter</a></li>
          </ul>
        </li>
      </ul>
    </ng-container>
    <ng-template #registrationOptions>
      <ul class="nav align-items-center  user-options">
        <li class="nav-item">
          <a class="btn btn-outline-primary" routerLink="/auth/login">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" routerLink="/auth/sign-up">S'inscrire</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none" href="/">
      <img alt="implic'action" class="img-fluid" src="assets/img/logo.png">
    </a>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0">
      <input aria-label="Search" class="form-control" placeholder="Search..." type="search">
    </form>
  </div>
</header>
