@import "src/assets/variables";

header {
  background-color: white;
}

.btn-login, .btn-sign-up, .btn-logout {
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100px;
}

.user-options .nav-item {
  margin-left: 15px !important;
}

.avatar {
  width: 22px;
  height: 22px;
}

.icon {
  height: 20px;
  width: 20px;
}

.dropdown-user li a {
  color: $secondary;

  &:hover {
    background-color: $primary;
    color: white;
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}
