<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex">
    <ul class="nav me-auto">
      <li><a [routerLink]="['/']" class="nav-link px-2">Accueil</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">A propos</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Espace entreprise</a></li>
      <li><a [routerLink]="['/community']" routerLinkActive="active" class="nav-link px-2 link-dark">Communauté</a></li>
    </ul>
    <ng-container *ngIf="isLoggedIn; else registrationOptions">
      <ul class="nav align-items-center user-options">
        <li class="nav-item">
          <i-feather name="bell" class="icon"></i-feather>
        </li>
        <li class="nav-item">
          <i-feather name="user" class="icon"></i-feather>
        </li>
        <li class="nav-item">
          <i-feather name="inbox" class="icon"></i-feather>
        </li>
        <li class="nav-item">
          <a class="d-block link-dark text-decoration-none dropdown-toggle cursor-pointer"
             id="dropdownUser2"
             data-bs-toggle="dropdown" aria-expanded="false"
          >
            <img src="assets/img/default-user.png" alt="mdo" class="rounded-circle avatar">
          </a>*
          <ul class="dropdown-menu text-small shadow m-0" aria-labelledby="dropdownUser">
            <li>
            <li><a routerLink="/user/{{userId}}/profile" class="dropdown-item cursor-pointer">Profil</a></li>
            <li><a class="dropdown-item cursor-pointer">Réglages</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a routerLink="/admin" class="dropdown-item cursor-pointer">Admin</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="logout()">Se déconnecter</a></li>
          </ul>
        </li>
      </ul>
    </ng-container>
    <ng-template #registrationOptions>
      <ul class="nav align-items-center  user-options">
        <li class="nav-item">
          <a routerLink="/auth/login" class="btn btn-outline-primary">Se connecter</a>
        </li>
        <li class="nav-item">
          <a routerLink="/auth/sign-up" class="btn btn-primary">S'inscrire</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <img src="assets/img/logo.png" alt="implic'action" class="img-fluid">
    </a>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>
