<div class="col">
  <div class="card py-4 px-4 shadow-sm border-0">
    <div class="d-flex flex-row justify-content-between mb-4">
      <h2>Experiences professionnelles</h2>
      <div *ngIf="!readOnly">
        <i-feather
          (click)="onAddExperience()"
          class="cursor-pointer secondary-on-hover"
          data-placement="bottom"
          data-toggle="tooltip"
          name="plus"
          title="Ajouter une expérience"
        >
        </i-feather>
      </div>
    </div>
    <ul>
      <ng-container *ngIf="experiences?.length else emptyInfo">
        <li
          *ngFor="let experience of experiences; trackBy: trackByExperienceId; last as isLast;"
          class="list-unstyled"
        >
          <app-experience-detail
            [experience]="experience"
            [readOnly]="readOnly"
          >
          </app-experience-detail>
          <hr *ngIf="!isLast" class="mx-4 mb-5"/>
        </li>
      </ng-container>
      <ng-template #emptyInfo>
        <span class="fst-italic">Non renseigné.</span>
      </ng-template>
    </ul>
  </div>
</div>
