<div class="col">
  <div class="card py-4 px-4 shadow-sm border-0">
    <div class="d-flex flex-row justify-content-between mb-4">
      <h2>Experiences professionnelles</h2>
      <div>
        <i-feather
          (click)="toggleModeEdition()"
          *ngIf="!isEditing; else saveIcon"
          class="cursor-pointer"
          name="edit"
        >
        </i-feather>
        <ng-template #saveIcon>
          <i-feather (click)="toggleModeEdition()" class="cursor-pointer mx-2" name="rotate-ccw"></i-feather>
          <i-feather (click)="updateExperiences()" class="cursor-pointer" name="save"></i-feather>
        </ng-template>
      </div>
    </div>
    <ul [ngClass]="{'formation-edition': isEditing}">
      <ng-container *ngIf="isEditing || experiences?.length else emptyInfo">
        <li
          *ngFor="let experience of (isEditing ? experienceCopies : experiences); trackBy: trackByExperienceId; last as isLast;"
          class="list-unstyled"
        >
          <app-experience-detail
            (deleteEmitter)="deleteExperience($event)"
            [experience]="experience"
            [isEditing]="isEditing"
          >
          </app-experience-detail>
          <hr *ngIf="!isLast" class="mx-4 mb-5"/>
        </li>
      </ng-container>
      <ng-template #emptyInfo>
        <span class="fst-italic">Non renseigné.</span>
      </ng-template>
    </ul>
    <button
      (click)="addElement()"
      *ngIf="isEditing"
      class="btn btn-primary mt-2"
    >
      Ajouter un élément
    </button>
  </div>
</div>
