<div class="col">
  <div class="card py-4 px-4 shadow-sm border-0">
    <div class="mb-3">
      <h2>Experiences professionnelles</h2>
    </div>
    <ul>
      <ng-container *ngIf="user.experiences else emptyInfo">
        <li
          *ngFor="let experience of user.experiences; last as isLast;"
          class="list-unstyled"
        >
          <app-experience-detail [experience]="experience"></app-experience-detail>
          <hr
            *ngIf="!isLast"
            class="mx-4"
          />
        </li>
      </ng-container>
      <ng-template #emptyInfo>
        <span class="fst-italic">Non renseigné.</span>
      </ng-template>
    </ul>
  </div>
</div>
