@import "src/assets/variables";

.card-job {
  justify-items: center;
  align-items: center;
  height: 200px;

  .card-header {
    height: 66px;
    background: transparent;
    border: none;

    .company-name:before {
      font-family: FontAwesome;
      content: '\f0f2';
      margin-right: 10px;
      color: $primary
    }
  }

  .card-body {
    max-height: 92px;

    .job-title {
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
