<p *ngIf="!isLoading && !latestJobs?.length; else jobList">Il n'y a aucune offre pour le moment.</p>
<ng-template #jobList>
  <div class="row col flex-column flex-md-row">
    <ng-container *ngIf="!isLoading; else loadingElements">
      <ng-container *ngFor="let job of latestJobs; trackBy: trackByJobId">
        <div class="job-column col-12 col-md-6 col-xl-3 p-0 mb-3">
          <app-latest-job-card [job]="job"></app-latest-job-card>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-template>
<ng-template #loadingElements>
  <ng-container *ngFor="let i of [1,2,3,4]">
    <div class="job-column col-12 col-md-6 col-xl-3 p-O mb-3">
      <app-latest-job-cart-skeleton></app-latest-job-cart-skeleton>
    </div>
  </ng-container>
</ng-template>
