<div class="row col d-flex flex-wrap">
  <ng-container *ngIf="isLoading || latestJobs?.length; else emptyMessage">
    <ng-container *ngIf="!isLoading; else loadingTemplate">
      <ng-container *ngFor="let job of latestJobs; trackBy: trackByJobId">
        <app-latest-job-card
          class="col-sm-6 col-xl-3 mb-2"
          [job]="job"
        ></app-latest-job-card>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #loadingTemplate>
  <ng-container *ngFor="let _ of [].constructor(size)">
    <app-latest-job-cart-skeleton class="col-sm-6 col-xl-3 mb-2"></app-latest-job-cart-skeleton>
  </ng-container>
</ng-template>

<ng-template #emptyMessage>
  <p>Il n'y a aucune offre pour le moment.</p>
</ng-template>
