.event-card {
  background-color: #f6f8ff;
  border-radius: 11px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }
}
