<div class="d-flex flex-row py-4 px-1 event-card align-items-center mb-3">
  <div class="text-center col-5 col-md-3 border-end">
    <p class="text-danger fs-3 fw-light mb-2">01</p>
    <p class="text-danger fw-bold m-0">décembre</p>
    <p class="text-danger fw-bold m-0">2021</p>
  </div>
  <div class=" col-5 col-md-8 text-primary fw-bold ps-5">Conférence Général de Villiers à l'UCO d'Angers</div>
  <button
    class="btn fw-bold col-2 col-md-1"
  >
    <i class="fas fa-chevron-right px-1 text-primary"></i>
  </button>
</div>
