<div class="mb-3 d-flex justify-content-between">
  <h2>Offres d'emploi</h2>
  <div>
    <i-feather
      (click)="onAddJobPosting()"
      class="cursor-pointer secondary-on-hover"
      data-placement="bottom"
      data-toggle="tooltip"
      name="plus"
      title="Ajouter une offre d'emploi"
    >
    </i-feather>
  </div>
</div>
<p-table
  (onLazyLoad)="loadOffers($event)"
  [lazy]="true"
  [loading]="loading"
  [paginator]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [rows]="rowsPerPage"
  [showCurrentPageReport]="true"
  [totalRecords]="pageable.totalElements"
  [value]="pageable.content"
  currentPageReportTemplate="{first} à {last} sur {totalRecords} entrées"
>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Registered</th>
      <th scope="col"></th>
    </tr>
  </ng-template>
  <ng-template let-offer pTemplate="body">
    <tr>
      <td class="overflow-ellipsis">{{offer.location}}</td>
      <td class="overflow-ellipsis">{{offer.title}}</td>
      <td class="d-flex justify-content-end">
        <ul class="list-unstyled list-inline">
          <i-feather
            (click)="editJob(offer)"
            class="cursor-pointer me-xl-2 secondary-on-hover"
            data-placement="bottom"
            data-toggle="tooltip"
            name="edit-2"
            title="Editer cette expérience"
          >
          </i-feather>
        </ul>
      </td>
    </tr>
  </ng-template>
</p-table>
