<div class="custom-skeleton p-p-4">
  <ol>
    <li>
      <div class="pt-2">
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </li>
    <li>
      <div class="pt-2">
        <p-skeleton width="30%"></p-skeleton>
      </div>
    </li>
    <li>
      <div class="pt-2">
        <p-skeleton width="55%"></p-skeleton>
      </div>
    </li>
    <li>
      <div class="pt-2">
        <p-skeleton width="65%"></p-skeleton>
      </div>
    </li>
    <li>
      <div class="pt-2">
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </li>
  </ol>
</div>
