@import "src/assets/variables";

h2 {
  text-transform: uppercase;
  line-height: 25px;
  font-size: 18px;
}

.user-avatar {
  width: 150px;
  height: auto;
}

.user-card {
  background-color: $secondary-bg-color;
  border-radius: 10px;
}

.text-description {
  resize: none;
  height: 100px !important;
  border-radius: 25px;
}

.form-label {
  display: block;
}
