<div class="col mb-3">
  <div class="card shadow-sm border-0 user-card px-4 py-4">
    <div class="d-flex justify-content-end">
      <i-feather (click)="toggleModeEdition()" *ngIf="!isEditing; else rollbackAndSaveIcon" class="cursor-pointer"
                 name="edit"></i-feather>
      <ng-template #rollbackAndSaveIcon>
        <i-feather (click)="toggleModeEdition()" class="cursor-pointer" name="rotate-ccw"></i-feather>
        <i-feather (click)="updatePersonalInfo()" class="cursor-pointer" name="save"></i-feather>
      </ng-template>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center pt-3">
      <div class="">
        <img
          [alt]="user.nicename"
          class="rounded-circle img-fluid shadow-sm user-avatar"
          src="assets/img/default-user.png"
        />
      </div>
      <div class="card-body text-center w-100">
        <div class="display-6 fw-normal card-title overflow-ellipsis mb-5">{{user.nicename}}</div>
        <div class="row">
          <div class="d-flex flex-row m-0 p-1">
            <div class="align-self-center text-start fw-bold ps-2 me-4">
              <i-feather class="icon text-primary" name="Mail"></i-feather>
            </div>
            <div *ngIf="!isEditing; else emailEdition" class="text-start m-0">
              <app-user-info [value]="user.email"></app-user-info>
            </div>
            <ng-template #emailEdition>
              <div class="flex-fill px-3">
                <input
                  [(ngModel)]="user.email"
                  class="form-control form-control-lg rounded-pill px-4"
                  placeholder="Email"
                />
              </div>
            </ng-template>
          </div>
          <div class="d-flex flex-row m-0 p-1">
            <div class="align-self-center text-start fw-bold ps-2 me-4">
              <i-feather class="icon text-primary" name="Phone"></i-feather>
            </div>
            <div *ngIf="!isEditing; else phoneEdition" class="text-center m-0">
              <app-user-info [value]="user.phoneNumber"></app-user-info>
            </div>
            <ng-template #phoneEdition>
              <div class="flex-fill px-3">
                <input
                  [(ngModel)]="user.phoneNumber"
                  class="form-control form-control-lg rounded-pill px-4"
                  placeholder="Téléphone"
                />
              </div>
            </ng-template>
          </div>
          <div class="d-flex flex-row m-0 p-1">
            <div class="align-self-center text-start fw-bold ps-2 me-4">
              <i-feather class="icon text-primary" name="Calendar"></i-feather>
            </div>
            <div *ngIf="!isEditing; else birthdayEdition" class="col-10 text-start m-0">
              <app-user-info [value]="user.birthday"></app-user-info>
            </div>
            <ng-template #birthdayEdition>
              <div class="flex-fill px-3">
                <input
                  [(ngModel)]="user.birthday"
                  class="form-control form-control-lg rounded-pill px-4"
                  placeholder="Date de naissance"
                />
              </div>
            </ng-template>
          </div>
        </div>
        <div class="text-start">
          <div class="row mt-5">
            <h2>Loisirs / Hobbies</h2>
            <div *ngIf="!isEditing; else hobbiesEdition" class="">
              <p>
                <app-user-info [value]="user.hobbies"></app-user-info>
              </p>
            </div>
            <ng-template #hobbiesEdition>
              <div class="mb-4">
                <textarea
                  [(ngModel)]="user.hobbies"
                  class="form-control form-control-lg w-100 px-4 text-description"
                  rows="4"
                ></textarea>
              </div>
            </ng-template>
          </div>
          <div class="row mt-3">
            <h2>Présentation</h2>
            <div *ngIf="!isEditing; else presentationEdition" class="">
              <p>
                <app-user-info [value]="user.presentation"></app-user-info>
              </p>
            </div>
            <ng-template #presentationEdition>
              <div class="mb-4">
                <textarea
                  [(ngModel)]="user.presentation"
                  class="form-control form-control-lg w-100 px-4 text-description"
                  rows="4"
                ></textarea>
              </div>
            </ng-template>
          </div>
          <div class="row mt-3">
            <h2>Quel est mon objectif professionnel</h2>
            <div *ngIf="!isEditing; else purposeEdition" class="">
              <p>
                <app-user-info [value]="user.purpose"></app-user-info>
              </p>
            </div>
            <ng-template #purposeEdition>
              <div class="mb-4">
                <textarea
                  [(ngModel)]="user.purpose"
                  class="form-control form-control-lg w-100 px-4 text-description"
                ></textarea>
              </div>
            </ng-template>
          </div>
          <div class="row mt-3">
            <h2>Ce que j'attends du réseau</h2>
            <div *ngIf="!isEditing; else expectationEdition" class="">
              <p>
                <app-user-info [value]="user.expectation"></app-user-info>
              </p>
            </div>
            <ng-template #expectationEdition>
              <div class="mb-4">
                <textarea
                  [(ngModel)]="user.expectation"
                  class="form-control form-control-lg w-100 px-4 text-description"
                  rows="4"
                ></textarea>
              </div>
            </ng-template>
          </div>
          <div class="row mt-3">
            <h2>Ce que je peux apporter au réseau</h2>
            <div *ngIf="!isEditing; else contributionEdition" class="">
              <p>
                <app-user-info [value]="user.contribution"></app-user-info>
              </p>
            </div>
            <ng-template #contributionEdition>
              <div class="mb-4">
                <textarea
                  [(ngModel)]="user.contribution"
                  class="form-control form-control-lg w-100 px-4 text-description"
                  rows="4"
                ></textarea>
              </div>
            </ng-template>
          </div>
          <div class="row mt-3">
            <h2>Mon parcours au sein de l’institution</h2>
            <div class="row m-0 p-1">
              <div class="col-8 text-start fw-bold ps-2 mb-3">
                <i-feather class="icon me-2 text-primary" name="Shield"></i-feather>
                <span class="align-middle">Armée d'origine</span>
              </div>
              <div *ngIf="!isEditing; else armyCorpsEdition" class="">
                <p>
                  <app-user-info [value]="user.armyCorps"></app-user-info>
                </p>
              </div>
              <ng-template #armyCorpsEdition>
                <div class="">
                  <input
                    [(ngModel)]="user.armyCorps"
                    class="form-control form-control-lg rounded-pill px-4"
                  />
                </div>
              </ng-template>
            </div>
            <div class="row m-0 p-1">
              <div class="col-8 text-start fw-bold ps-2 mb-3">
                <i-feather class="icon me-2 text-primary" name="Award"></i-feather>
                <span class="align-middle">Corps Statuaire</span>
              </div>
              <div *ngIf="!isEditing; else rankEdition" class="">
                <p>
                  <app-user-info [value]="user.rank"></app-user-info>
                </p>
              </div>
              <ng-template #rankEdition>
                <div class="">
                  <input
                    [(ngModel)]="user.rank"
                    class="form-control form-control-lg rounded-pill px-4"
                  />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
