@import "src/assets/variables";

h2 {
  text-transform: uppercase;
  line-height: 25px;
  font-size: 18px;
}

.user-avatar {
  width: 150px;
  height: 150px;
}

.user-card {
  background-color: $secondary-bg-color;
  border-radius: 10px;
}

.user-options {
  height: 24px;
}

.form-label {
  display: block;
}

::ng-deep {
  .p-inputtext {
    color: #212529 !important;
  }
}

.hoverable {
  position: relative;
  display: block;
  cursor: pointer;
  height: 150px;
  width: 150px;
}

.hoverable .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  z-index: 2;
  color: white;
}

.hoverable .background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}

#fileInput {
  display: none;
}
