@import "src/assets/variables";

h2 {
  text-transform: uppercase;
  line-height: 25px;
  font-size: 18px;
}

.user-avatar {
  width: 100px;
  height: auto;
}

.user-card {
  background-color: $secondary-bg-color;
  border-radius: 10px;
}
