<section class="vh-100 mt-xl-5">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-start">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 pt-5">
        <img src="assets/img/hand-shake.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-9 col-lg-6 col-xl-4 offset-xl-1">
        <div class="divider d-flex align-items-center my-4">
          <p class="text-center mx-3 mb-0 fs-2">Connexion</p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-floating mb-4">
            <input [formControlName]="'username'"
                   id="floatingUsername"
                   class="form-control form-control-lg"
                   placeholder="Enter a valid email address" required autofocus/>
            <label class="form-label" for="floatingUsername">Nom d'utilisateur</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password"
                   [formControlName]="'password'"
                   id="floatingPassword"
                   class="form-control form-control-lg"
                   placeholder="mot de passe" required/>
            <label class="form-label" for="floatingPassword">Mot de passe</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="rememberMe"/>
              <label class="form-check-label" for="rememberMe">
                Se souvenir de moi
              </label>
            </div>
            <a href="#" class="text-body">J'ai oublié mon mot de passe</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <div class="d-grid gap-2 ">
              <button type="submit" class="btn btn-primary btn-lg">
                Connexion
              </button>
            </div>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Pas encore membre ? <a routerLink="/auth/sign-up" class="link-danger">S'inscrire</a>
            </p>
          </div>
        </form>
        <div *ngIf="showAlert" class="alert alert-{{alert.severity}} mt-4" role="alert">
          <h4 class="alert-heading">
            {{alert.title}}
          </h4>
          <p>{{alert.body}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
