.card-post {
  border-radius: 11px;
  position: relative;
  min-width: 0;
  background-color: white;
  height: 115px;

  .card-body {
    padding: 12px;
  }

  .card-title {
    padding: 0 !important;
    margin: 0 0 15px !important;
  }
}
