@import "src/assets/variables";

.list-group-item {
  padding: 0;

  a {
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    line-height: 2.8rem;

    &:hover, &.active {
      font-weight: 600;
      background-color: $secondary;
    }

    &.collapsed, &.expanded {
      &:after {
        position: absolute;
        right: 10px;
        font-family: FontAwesome;
      }
    }

    &.collapsed:after {
      content: '\f107'
    }

    &.expanded:after {
      content: '\f106'
    }

    .badge {
      font-size: 0.9rem;
    }
  }
}

li.active {
  list-style-type: disc;
}
