<ul class="list-group list-group-flush py-2">
  <ng-container *ngFor="let menuItem of menuItems">
    <li class="list-group-item">
      <a
        [routerLinkActive]="'active'"
        [routerLink]="menuItem.routerLink"
        [queryParams]="menuItem.queryParams"
        [routerLinkActiveOptions]="menuItem.routerLinkActiveOptions"
      >
        <span>
          <i *ngIf="menuItem.icon" [class]="menuItem.icon"></i> {{menuItem.label}}
        </span>
      </a>
    </li>
  </ng-container>
</ul>
