@import "src/assets/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  background-color: $primary-bg-color;
  color: $tertiary;
}

button .icon {
  width: 16px;
  height: 16px;
}

h2 {
  font: normal bold 18px 'Open Sans', 'Arial', serif;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: left;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $primary;
}

p {
  font: normal 16px 'Roboto', 'Arial', serif;
  line-height: 19px;
  display: flex;
  align-items: center;
}
