@import "src/assets/variables";

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  background-color: $background-color;
}

button .icon {
  width: 16px;
  height: 16px;
}

@import "../node_modules/bootstrap/scss/bootstrap";
