.event-day {
  font-weight: 700 !important;
}

// breakpoint sm
@media screen and (min-width: 576px) {
  .event-day {
    // équivalent ) fs-3
    font-size: 28px !important;
    line-height: 28px;
  }

  .date-section {
    border-right: 1px solid #dee2e6 !important;

    span {
      display: block;
    }
  }
}

