<div class="card job-card d-flex align-items-center justify-content-around flex-column px-2 py-3">
  <div class="d-flex justify-content-between align-items-center p-4 mb-3">
    <img
      #companyLogo
      (error)="companyLogo.src = 'assets/img/job-posting-img.png'"
      [src]="job.company?.logo || 'assets/img/job-posting-img.png'"
      alt="company-logo"
      class="d-flex d-sm-inline-block me-1 company-logo"
    >
    <span class="d-flex fw-bold grey overflow-ellipsis text-uppercase">{{job.company?.name}}</span>
    <div class="d-flex align-items-end">
      <app-contract-type [type]="job.contractType"></app-contract-type>
    </div>
  </div>
  <h4 class="d-flex">
    <a class="title-link" routerLink="/{{univers.JOBS.url}}/{{job.id}}">{{job.title}}</a>
  </h4>
  <div class="d-flex">
    <span class="pe-2">{{job.location}}</span>
    <ng-container *ngIf="job.createdAt">
      <span class="d-none d-sm-inline ps-2">•</span>
      <span class="ps-2">
        <app-date-timelapse [date]="job.createdAt"></app-date-timelapse>
      </span>
    </ng-container>
  </div>
</div>
