.card-job {
  border-radius: 11px;
}

.grey {
  color: #3F3F46;
}

.job-title {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.card-job {
  justify-items: center;
  align-items: center;
  height: 200px;

  .card-header {
    height: 66px;
  }

  .card-body {
    max-height: 92px;
  }
}
