.grey {
  color: #3F3F46;
}

.company-logo {
  width: 48px;
  height: auto;
}

.title-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.job-card {
  border-radius: 11px;
  width: 18rem;
  height: 11rem;
}
