.grey {
  color: #3F3F46;
}

.company-logo {
  width: 38px;
  height: auto;
}

.title-link {
  text-decoration: none;
  font-size: 25px;

  &:hover {
    text-decoration: underline;
  }
}

.job-card {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 0.3fr;
}
