<div class="card card-post mb-3">
  <div class="row p-0 m-0">
    <div class="col-11 p-0">
      <div class="card-body ps-4 pt-3">
        <div class="card-title d-flex align-items-center justify-content-start mb-3">
          <p-skeleton shape="circle" size="3rem"></p-skeleton>
          <div class="head-line ps-3">
            <p-skeleton styleClass="p-mb-2 mb-2" width="15rem"></p-skeleton>
            <p-skeleton height=".5rem" width="4rem"></p-skeleton>
          </div>
        </div>
        <div class="">
          <p-skeleton height="1rem" width="90%"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
</div>
