<div class="card mb-3 shadow-sm bg-body rounded">
  <div class="row p-0 m-0">
    <div
      class="vote-box py-2 m-0 p-0 pb-md-0 pt-md-4col-12 col-md-1 bg-primary text-white d-flex flex-column align-items-center">
      <div class="col-1 bg-primary w-100 pt-md-4">
        <div class="d-flex flex-md-column align-items-center">
          <div class="px-3 px-md-0 py-md-2 cursor-pointer">
            <i class="fa fa-arrow-up"></i>
          </div>
          <div class="vote-count">0</div>
          <div class="px-3 px-md-0 py-md-2 cursor-pointer">
            <i class="fa fa-arrow-down"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-11 p-0">
      <div class="card-body ps-5 pt-4">
        <div class="card-title d-flex align-items-center justify-content-start mb-3">
          <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
          <div class="head-line ps-3">
            <p-skeleton styleClass="p-mb-2 mb-2" width="15rem"></p-skeleton>
            <p-skeleton height=".5rem" width="10rem"></p-skeleton>
          </div>
        </div>
        <ng-container *ngFor="let i of [1,2,3,4,5]">
          <p-skeleton height="25px" styleClass="mb-2" width="100%"></p-skeleton>
        </ng-container>
      </div>
      <div class="card-footer border-0 pb-5 bg-white d-flex justify-content-end">
        <p-skeleton height="1rem" width="13rem"></p-skeleton>
      </div>

      <div>
        <ng-content></ng-content>
      </div>

    </div>
  </div>
</div>
