<app-header [currentProfile]="profile$ | async" [userRoles]="principal?.roles"></app-header>
<main class="mx-2 mx-sm-5 my-3 my-md-5">
  <router-outlet></router-outlet>
  <p-toast
    position="bottom-right"
    [hideTransformOptions]="'translateX(0)'"
    [showTransformOptions]="'translateX(100%)'"
  ></p-toast>
  <p-sidebar
    position="right"
    (onHide)="sidebarService.close()"
    [(visible)]="sidebarService.isOpen"
    [blockScroll]="true"
    [transitionOptions]="'350ms'"
  >
    <div class="content-container">
      <div class="row no-gutters header align-items-center">
        <div class="col-10 sidebar-title">{{sidebarProps?.title}}</div>
      </div>
      <div class="content">
        <ng-template appSidebarContent>
          <!-- le contenu du composant en input sera injecté et affiché ici -->
        </ng-template>
      </div>
    </div>
  </p-sidebar>
</main>
<app-footer class="mt-auto"></app-footer>
