server:
  port: ${PORT:8080}

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:${DB_URI}
    username: ${DB_USER}
    password: ${DB_PASS}



  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    generate-ddl: true


  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USER}
    password: ${SMTP_PASS}
    protocol: smtp

jwt:
  expiration.time: 900000
  certificate:
    type: JKS
    name: ${CERTIF_NAME}
    password: ${CERTIF_PASSWORD}
