.size-xs {
  width: 22px;
  height: auto;
  max-height: 22px;
}

.size-small {
  width: 48px;
  height: auto;
  max-height: 44px;
}

.size-medium {
  width: 66px;
  height: auto;
  max-height: 66px;
}

.size-medium {
  width: 88px;
  height: auto;
  max-height: 88px;
}
