.avatar {
  object-fit: cover;
}

.avatar-xs {
  width: 22px;
  height: 22px;
}

.avatar-small {
  width: 32px;
  height: 32px;
}

.avatar-medium {
  width: 66px;
  height: 66px;
}

.avatar-large {
  width: 88px;
  height: 88px;
}

.avatar-xlarge {
  width: 120px;
  height: 120px;
}
