<div>
  <img
    class="marquee"
    alt="bandeau espace entreprise"
    src="/assets/img/bandeau_business_area.jpg"
  >
  <div>
    <div>
      <h1 class="text-center mt-5 heading">Espace Entreprise</h1>
      <h2 class="text-center mt-5 heading">
        Vous êtes une entreprise et vous recrutez ? Pensez
        <app-implicaction-logo-text></app-implicaction-logo-text>
        !
      </h2>
      <p class="text-center">
        Vous êtes à la recherche de profils type ex-militaires ou anciens personnels civils de la
        Défense ? Implic’Action
        vous aide à trouver le bon profil.
      </p>
      <p class="text-center">
        Contactez-nous sur <a href="mailto:recrutement@implicaction.eu" class="text-primary fw-bolder">recrutement@implicaction.eu</a> !
      </p>
    </div>
    <div class="d-flex row justify-content-center mt-5 mb-5 mx-auto wrapper">
      <div>
        <img
          alt=""
          class="d-block d-lg-inline col-12 col-lg-6 mx-auto img-superposition"
          src="../../assets/img/business_area.jpg"
        >
        <div class="col-12 col-lg-6 ps-lg-5 pt-4 pe-3 pb-3 mx-auto txt-superposition">
          <p class="text-white ms-5">
            Pour vous aider à trouver le candidat que vous recherchez, merci de nous adresser les informations suivantes :
          </p>
          <ul class="text-white ms-5">
            <li>le nom de votre entreprise</li>
            <li>votre secteur d’activité</li>
            <li>une fiche de poste correspondant à l’emploi à pourvoir</li>
            <li>vos attentes sur les compétences détenues</li>
            <li>la fourchette de rémunération envisagée</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p>
        Nous vous recontacterons pour échanger en direct sur le poste et mieux vous conseiller par
        rapport à votre
        besoin.
      </p>
      <p>
        Votre offre d’emploi sera ensuite publiée sur notre site réseau et sera ainsi visible par
        tous les membres de
        notre
        communauté qui y ont créé un profil.
      </p>
      <p>
        A noter que si vos besoins sont nombreux nous sommes en mesure de vous proposer un
        partenariat personnalisé qui
        vous
        permettra aussi de soutenir l’association par un don.
      </p>
    </div>
  </div>
</div>
