<div class="overview">
  <app-admin-overview></app-admin-overview>
</div>
<div class="pending-table card mt-4">
  <div class="card-header pb-0 bg-primary text-light">
    <h5 class="panel-title">Nouveaux utilisateurs</h5>
  </div>
  <app-pending-user-table></app-pending-user-table>
</div>
<div class="pending-table card mt-4">
  <div class="card-header pb-0 bg-primary text-light">
    <h5 class="panel-title">Nouvelles offres</h5>
  </div>
  <app-pending-job-table></app-pending-job-table>
</div>
<div class="pending-table card mt-4">
  <div class="card-header pb-0 bg-primary text-light">
    <h5 class="panel-title">Nouveaux groupes</h5>
  </div>
  <app-pending-group-table></app-pending-group-table>
</div>

