<footer class="footer d-flex flex-column-reverse flex-sm-row justify-content-evenly align-items-md-center gap-5 bg-primary py-5 px-3 px-sm-5">
  <div class="d-flex flex-column left-section">
    <section class="socials-and-legals">
      <app-socials-and-legals></app-socials-and-legals>
    </section>
    <section class="supports">
      <app-supports></app-supports>
    </section>
  </div>
  <div class="right-section">
    <section class="">
      <app-contact></app-contact>
    </section>
  </div>
</footer>
