<footer class="footer d-flex flex-column-reverse flex-md-row justify-content-between justify-content-xl-evenly  align-items-md-evenly bg-primary gap-5 py-5 px-3 px-sm-5">
  <div class="d-flex flex-column left-section">
    <section class="socials-and-legals">
      <app-socials-and-legals></app-socials-and-legals>
    </section>
    <section class="supports">
      <app-supports></app-supports>
    </section>
  </div>
  <div class="right-section">
    <section class="">
      <app-contact></app-contact>
    </section>
  </div>
</footer>
