<form
  (ngSubmit)="onSubmit()"
  [formGroup]="createGroupForm"
>

  <div class="form-group mb-4">
    <label class="mb-1" for="file">Icone du groupe</label>
    <div class="d-flex justify-content-between align-items-center p-0 m-0">
      <div class="flex-grow-1">
        <input
          (change)="onFileChange($event)"
          accept=".jpg, .png, .jpeg"
          class="form-control form-control-lg"
          formControlName="file"
          id="file"
          type="file"
        >
      </div>
      <p-avatar
        [image]="imageSrc || GROUP_IMAGE_DEFAULT_URI"
        class="d-flex align-self-center"
        shape="circle"
        size="large"
        styleClass="ms-2"
      >
      </p-avatar>
    </div>
  </div>

  <div class="form-floating mb-4">
    <input
      [ngClass]="{'ng-invalid ng-touched': (isSubmitted || formControls.name.touched) && formControls.name.errors}"
      class="form-control form-control-lg px-4"
      formControlName="name"
      id="groupNameInput"
      placeholder="Nom du groupe"
    />
    <label
      class="form-label px-4"
      for="groupNameInput"
    >
      Nom du groupe
    </label>
    <div
      *ngIf="(isSubmitted || formControls.name.touched) && formControls.name.errors"
      class="text-danger"
    >
      Vous devez fournir un nom de groupe.
    </div>
  </div>
  <div class="form-floating mb-4">
    <textarea
      class="form-control"
      formControlName="description"
      id="descriptionTextArea"
      placeholder="Entrez une description du groupe"
      style="height: 150px"
    ></textarea>
    <label for="descriptionTextArea">Description</label>
  </div>
  <div class="d-flex justify-content-center rounded-pill sidebar-options">
    <button
      class="btn btn-primary w-100"
      type="submit"
    >
      Enregistrer
    </button>
  </div>
</form>
