<div class="d-flex justify-content-start mb-4">
  <h2 class="panel-title">Tous les utilisateurs</h2>
  <div class="ms-auto">
  </div>
</div>


<div class="row">
  <div class="d-flex flex-wrap justify-content-center justify-content-md-between justify-content-lg-around justify-content-xl-between">

      <app-user-card
        *ngFor="let user of pageable.content;"
        class="d-flex justify-content-center justify-content-md-center mb-4"
        [user]="user"
        [innerTemplate]="userControls"
      >

      <ng-template #userControls>
        <p>{{ user.purpose }}<br> {{ user.presentation }}</p>
        <div class="boutton">
          <p-button label="" icon="pi pi-check" (click)="editUser(user)"></p-button>
          <p-button label="" icon="pi pi-file-edit" styleClass="p-button-success" [style]="{'margin-left': '.5em'}"></p-button>
          <p-button label="" icon="pi pi-times" styleClass="p-button-danger" [style]="{'margin-left': '.5em'}"></p-button>
        </div>
      </ng-template>

      </app-user-card>







    </div>
  </div>



<p-table
  (onLazyLoad)="loadUsers($event)"
  [(selection)]="selectedUsers"
  [lazy]="true"
  [loading]="loading"
  [paginator]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [rows]="pageable.rows"
  [showCurrentPageReport]="true"
  [totalRecords]="pageable.totalElements"
  [value]="pageable.content"
  currentPageReportTemplate="{first} à {last} sur {totalRecords} entrées"
>

</p-table>
