<p-table
  styleClass="p-datatable-striped"
  currentPageReportTemplate="{first} à {last} sur {totalRecords} entrées"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [paginator]="true"
  [rows]="rowsPerPage"
  [showCurrentPageReport]="true"
  [value]="pageable.content"
  [loading]="loading"
  [totalRecords]="pageable.totalElements"
  [lazy]="true"
  (onLazyLoad)="loadUsers($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Registered</th>
      <th scope="col"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td class="overflow-ellipsis">{{user.username}}</td>
      <td class="overflow-ellipsis">{{user.email}}</td>
      <td class="overflow-ellipsis">{{user.registered | date: 'shortDate'}}</td>
      <td class="d-flex justify-content-end">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <span class="badge badge-pill badge-primary">New</span>
          </li>
          <li class="list-inline-item">
            <em class="pi pi-pencil"></em>
          </li>
          <li class="list-inline-item">
            <em class="pi pi-trash"></em>
          </li>
        </ul>
      </td>
    </tr>
  </ng-template>
</p-table>
