@import "src/assets/variables";

::ng-deep {
  .p-datatable-thead {

    th {
      background-color: $primary !important;
      color: #fff !important;

      &:first-child {
        border-radius: calc(0.25rem - 1px) 0 0 0;
      }

      &:last-child {
        border-radius: 0 calc(0.25rem - 1px) 0 0;
      }
    }
  }
}

.badge {
  background-color: #6c757d;
}
