<div class="col-md-4">
  <app-user-avatar
    size="xlarge"
    [profile]="profileCopy"
  ></app-user-avatar>
  <div class="pt-2">
    <input
      type="file"
      id="input-avatar"
      (change)="selectFile($event)"
      [accept]="fileExtensionsAccepted"
    >
  </div>

  <div class="d-flex col-12 gap-2 mt-2 upload-options">
    <div class="col-6 progress mt-2">
      <div
        role="progressbar"
        class="progress-bar"
        [attr.aria-valuenow]="progress"
        [style]="'width: ' + progress + '%'"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{progress}}%
      </div>
    </div>
    <div class="col-auto">
      <button
        class="d-inline-block btn btn-primary btn-sm me-2"
        title="Télécharger le fichier"
        (click)="uploadFile()"
        [disabled]="!selectedFile"
      >
        <i class="fa fa-upload" aria-hidden="true"></i>
      </button>
      <button class="btn btn-danger btn-sm">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </div>
  </div>

</div>
