<div class="container row">
  <div class="table card">
    <div class="header">
      <h6 class="title">{{ tableType.label }}</h6>
      <div class="flex">
        <div class="search-bar form-outline">
          <span class="p-input-icon-right">
            <i (click)="search()" class="pi pi-search cursor-pointer"></i>
            <input
              (keydown.enter)="search()"
              [(ngModel)]="searchValue"
              class=""
              pInputText
              placeholder="Recherche..."
              type="text"
            />
          </span>
          <!-- <p-button (click)="search()" icon="pi pi-search"></p-button> -->
        </div>
      </div>
      <ul class="infos">
        <li *ngFor="let label of labels" class="text-nowrap">
          <button
            class="sort-btn"
            (click)="sortForumData(label)"
            pButton
            [icon]="
              currentSortColmun === label &&
              pageable.sortOrder === SortDirEnum.ASC
                ? 'pi pi-sort-up'
                : currentSortColmun === label &&
                  pageable.sortOrder === SortDirEnum.DESC
                ? 'pi pi-sort-down'
                : 'pi pi-sort'
            "
            class="p-button-rounded"
          ></button>
          {{ label }}
        </li>
      </ul>
    </div>
    <div class="content">
      <div *ngIf="tableType.code === tableTypeCode.FORUM && !filtered">
        <app-forum-card
          *ngFor="let group of pageable.content; last as isLast"
          [group]="group"
          [ngClass]="{ 'last-element': isLast }"
        ></app-forum-card>
      </div>
      <div *ngIf="tableType.code === tableTypeCode.FORUM && filtered">
        <app-forum-card
          *ngFor="let group of filteredTagData; last as isLast"
          [group]="group"
          [ngClass]="{ 'last-element': isLast }"
        ></app-forum-card>
      </div>

      <div *ngIf="tableType.code === tableTypeCode.POST && posts?.length > 0">
        <app-post-card *ngFor="let post of posts" [post]="post"></app-post-card>
      </div>
    </div>
  </div>
  <div class="pagination row">
    <p-paginator
      (onPageChange)="paginate($event)"
      *ngIf="pageable.totalPages > 0"
      [alwaysShow]="true"
      [first]="pageable.first"
      [rows]="pageable.rows"
      [totalRecords]="pageable.totalElements"
    >
    </p-paginator>
  </div>
</div>
