<p-card class="row col-md-2">
  <img src="/assets/img/default-user.png" alt="personal image" class="img-fluid"/>
  <h2>{{user.dispayName}}</h2>
  <div class="row">
    <div class="col-6">Nom</div>
    <div class="col-6">{{user.username}}</div>
  </div>
  <div class="row">
    <div class="col-6">Email</div>
    <div class="col-6">{{user.email}}</div>
  </div>
  <div class="row">
    <div class="col-6">URL</div>
    <div class="col-6">{{user.url}}</div>
  </div>
  <div class="row">
    <div class="col-6">Birthday</div>
    <div class="col-6">{{user.birthday}}</div>
  </div>
  <div class="row">
    <div class="col-6">Phone Number</div>
    <div class="col-6">{{user.phoneNumber}}</div>
  </div>
</p-card>
