<div class="card card-post card-event py-0 px-2 mb-3">
  <div class="card-body d-flex justify-content-between align-items-center pe-1">
    <div class="post-data col-11">
      <div class="card-title d-flex">
        <div class="user-img">
          <img
            #userImg
            (error)="userImg.src = constant.USER_IMAGE_DEFAULT_URI"
            [src]="post.userImageUrl || constant.USER_IMAGE_DEFAULT_URI"
            class="rounded-circle me-2 shadow-sm avatar"
            alt=""
          >
        </div>
        <div class="flex flex-column">
          <div class="username">
            <a
              class="post-card-link"
              routerLink="/{{univers.USERS.url}}/{{post.userId}}/profile"
            >
              {{post.username}}
            </a>
          </div>
          <div class="duration mt-1">{{post.duration}}</div>
        </div>
      </div>
      <div>
        <h3 class="theme-primary m-0 overflow-ellipsis">
          <a
            class="post-card-link"
            routerLink="/{{univers.DISCUSSIONS.url}}/{{post.id}}"
          >
            {{post.name}}
          </a>
        </h3>
      </div>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <a routerLink="/{{univers.DISCUSSIONS.url}}/{{post.id}}">
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
  </div>
</div>
