.duration {
  font-size: 10px;
}

.post-card {
  border-radius: 11px;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}


.post-card-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
