.duration {
  font-size: 10px;
}

.card-post {
  border-radius: 11px;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: white;
  height: 115px;
}

.avatar {
  width: 48px;
}

.card-body {
  padding: 12px;
}

.post-card-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
