<div class="pending-table card">
  <div class="card-header pb-0 bg-primary text-light mb-3 d-flex justify-content-between">
    <h5 class="panel-title">Toutes les offres d'emplois</h5>
    <div>
      <i-feather
        (click)="onAddJob()"
        class="cursor-pointer secondary-on-hover"
        data-placement="bottom"
        data-toggle="tooltip"
        name="plus"
        title="Ajouter une offre"
      >
      </i-feather>
      <button
        (click)="archive()"
        class="btn"
        data-bs-placement="top"
        data-bs-toggle="tooltip"
        title="Archiver"
        type="button"
      >
        <i
          [ngClass]="'fa-box border-info text-info'"
          class="fas border rounded-3 px-2 py-1"
        >
        </i>
      </button>
    </div>
  </div>
  <app-jobs-table></app-jobs-table>
</div>
