<div class="pending-table card">
  <div class="card-header pb-0 bg-primary text-light mb-3 d-flex justify-content-between">
    <h5 class="panel-title">Toutes les offres d'emplois</h5>
    <div>
      <i-feather
        (click)="onAddJob()"
        class="cursor-pointer secondary-on-hover"
        data-placement="bottom"
        data-toggle="tooltip"
        name="plus"
        title="Ajouter une offre"
      >
      </i-feather>
      <button
        (click)="toggleArchiveSelectedJobs()"
        class="btn"
        data-bs-placement="top"
        data-bs-toggle="tooltip"
        title="Archiver"
        [disabled]="!isArchiveEnabled"
        type="button"
      >
        <i
          [ngClass]="isArchive ? 'fa-box border-info text-info':'fa-box-open border-warning text-warning'"
          class="fas border rounded-3 px-2 py-1"
        >
        </i>
      </button>
    </div>
  </div>
  <p-table
    (onLazyLoad)="paginate($event)"
    [(selection)]="selectedJobs"
    [lazy]="true"
    [loading]="isLoading"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="pageable.rows"
    [showCurrentPageReport]="true"
    [totalRecords]="pageable.totalElements"
    [value]="pageable.content"
    (onRowSelect)="onRowSelected()"
    (onRowUnselect)="onRowSelected()"
    currentPageReportTemplate="{first} à {last} sur {totalRecords} entrées"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center col-1">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th class="text-wrap text-uppercase col-3 col-sm-2 col-lg-3" scope="col">Nom</th>
        <th class="text-wrap text-uppercase col-1 col-sm-1 col-lg-1 px-2" scope="col">Type</th>
        <th class="text-wrap text-uppercase col-3 col-sm-2 col-lg-3 px-2" scope="col">Localisation</th>
        <th class="text-wrap text-uppercase col-6 col-sm-4 col-lg-6 px-2" scope="col">Description</th>
        <th class="text-wrap text-uppercase text-center col-4 col-sm-2 col-lg-4 col-xl-3 px-2" scope="col">Actions</th>
      </tr>
    </ng-template>
    <ng-template let-job pTemplate="body">
      <tr>
        <td class="text-center col-1">
          <p-tableCheckbox
            [value]="job"
          >
          </p-tableCheckbox>
        </td>
        <td class="overflow-ellipsis text-wrap col-4 col-sm-3 col-lg-2">{{job.title}}</td>
        <td class="text-wrap col-1 col-sm-1 col-lg-1 px-2">{{job.contractType?.label}}</td>
        <td class="overflow-ellipsis text-lg-wrap col-4 col-sm-3 col-lg-2 px-2">{{job.location}}</td>
        <td class="overflow-ellipsis col-4 col-sm-3 col-md-2 col-lg-3 px-2">{{job.description}}</td>
        <td class="col-4 col-sm-2 col-lg-4 col-xl-3 px-2 text-center">
          <ul class="fa-ul d-flex flex-column flex-lg-row justify-content-center list-unstyled list-inline mb-0">
            <li class="fa-li list-inline-item m-0 me-lg-2">
              <button
                (click)="editJob(job)"
                class="btn"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="Editer"
                type="button"
              >
                <i class="fas fa-pen border border-primary text-primary rounded-3 px-2 py-1"></i>
              </button>
            </li>
            <li class="fa-li list-inline-item m-0 me-lg-2">
              <button
                class="btn"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="Supprimer"
                type="button"
              >
                <i class="fas fa-trash border border-danger text-danger rounded-3 px-2 py-1"></i>
              </button>
            </li>
            <li class="fa-li list-inline-item m-0 me-lg-2">
              <button
                class="btn"
                (click)="toggleArchiveJob(job)"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="Archiver"
                type="button"
              >
                <i
                  [ngClass]="job.archive ? 'fa-box-open border-warning text-warning' : 'fa-box border-info text-info'"
                  class="fas border rounded-3 px-2 py-1"
                >
                </i>
              </button>
            </li>
          </ul>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
