


<div class="pending-table card">
  <div class="card-header pb-0 bg-primary text-light mb-3 d-flex justify-content-between">
    <h5 class="panel-title">Toutes les offres d'emplois</h5>
    <div>
      <i-feather
        (click)="onAddJob()"
        class="cursor-pointer secondary-on-hover"
        data-placement="bottom"
        data-toggle="tooltip"
        name="plus"
        title="Ajouter une offre"
      >
      </i-feather>
      <button
        (click)="toggleArchiveSelectedJobs()"
        class="btn"
        data-bs-placement="top"
        data-bs-toggle="tooltip"
        title="Archiver"
        [disabled]="!isArchiveEnabled"
        type="button"
      >
        <i
          [ngClass]="isArchive ? 'fa-box border-info text-info':'fa-box-open border-warning text-warning'"
          class="fas border rounded-3 px-2 py-1"
        >
        </i>
      </button>
    </div>
  </div>
  <p-table
    (onLazyLoad)="paginate($event)"
    [(selection)]="selectedJobs"
    [lazy]="true"
    [loading]="isLoading"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="pageable.rows"
    [showCurrentPageReport]="true"
    [totalRecords]="pageable.totalElements"
    [value]="pageable.content"
    (onRowSelect)="onRowSelected()"
    (onRowUnselect)="onRowSelected()"
    currentPageReportTemplate="{first} à {last} sur {totalRecords} entrées"
  >

    <ng-template let-job pTemplate="body">
      <tr>

        <div class="border-bottom job-card-container p-2">
          <div class="job-header d-flex flex-wrap align-items-center mb-2">
            <img
              #companyLogo
              (error)="companyLogo.src = 'assets/img/job-posting-img.png'"
              [src]="job.company?.logo || 'assets/img/job-posting-img.png'"
              alt="company-logo"
              class="d-none d-sm-inline-block me-1 company-logo"
            >
            <span class="fw-bold grey overflow-ellipsis pe-2 text-uppercase">{{job.company?.name}}</span>
            <span>
      <span class="d-none d-sm-inline pe-2">•</span>
      <span class="pe-2">{{job.location}}</span>
      <span class="d-none d-sm-inline pe-2">•</span>
    </span>
            <app-contract-type [type]="job.contractType"></app-contract-type>
            <ng-container *ngIf="job.createdAt">
              <span class="d-none d-sm-inline ps-2">•</span>
              <span class="ps-2">
        <app-date-timelapse [date]="job.createdAt"></app-date-timelapse>
      </span>
            </ng-container>
          </div>
          <div class="job-body row col justify-content-between mt-3">
            <div class="job-infos col-12 col-lg-7 col-xl-8">

              <p
                [innerHTML]="job.shortDescription"
                class="text-justify"
              >
              </p>
            </div>

          </div>
        </div>


        <td class="col-4 col-sm-2 col-lg-4 col-xl-3 px-2 text-center">
          <ul class="fa-ul d-flex flex-column flex-lg-row justify-content-center list-unstyled list-inline mb-0">
            <li class="fa-li list-inline-item m-0 me-lg-2">
              <button
                (click)="editJob(job)"
                class="btn"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="Editer et voir plus"
                type="button"
              >
                <i class="fas fa-pen border border-primary text-primary rounded-3 px-2 py-1"></i>
              </button>
            </li>
            <li class="fa-li list-inline-item m-0 me-lg-2">
              <button
                class="btn"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="Supprimer"
                type="button"
              >
                <i class="fas fa-trash border border-danger text-danger rounded-3 px-2 py-1"></i>
              </button>
            </li>
            <li class="fa-li list-inline-item m-0 me-lg-2">
              <button
                class="btn"
                (click)="toggleArchiveJob(job)"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="Archiver"
                type="button"
              >
                <i
                  [ngClass]="job.archive ? 'fa-box-open border-warning text-warning' : 'fa-box border-info text-info'"
                  class="fas border rounded-3 px-2 py-1"
                >
                </i>
              </button>
            </li>
          </ul>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>

