<div class="container mb-5" id="comments">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-12 p-0 ps-3">
      <div class="card border-0">
        <form
          (ngSubmit)="postComment()"
          [formGroup]="createCommentForm"
          class="form-color p-3"
        >
          <div class="my-2 d-flex align-items-center">
            <p-avatar
              [image]="currentUserImageUrl"
              class="col-md-1 d-none d-md-block align-self-start"
              shape="circle"
              size="large"
              styleClass="shadow-sm"
            >
            </p-avatar>
            <p-editor
              [style]="{'height':'200px'}"
              class="col-12 col-md-11"
              formControlName="text"
            >
            </p-editor>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Commenter</button>
          </div>
        </form>

        <ng-container *ngIf="!isLoading; else loadingTemplate">

          <div
            *ngFor="let comment of pageable.content; trackBy: trackByItemId"
            class="mt-2"
          >
            <app-comment-tile [comment]="comment"></app-comment-tile>
          </div>
        </ng-container>
        <ng-template #loadingTemplate>
          <app-comment-skeleton *ngFor="let i of [1,2,3,4,5]"></app-comment-skeleton>
        </ng-template>

      </div>
    </div>
  </div>
  <p-paginator
    #paginator
    (onPageChange)="paginate($event)"
    [alwaysShow]="false"
    [first]="pageable.first"
    [rowsPerPageOptions]="ROWS_PER_PAGE_OPTIONS"
    [rows]="pageable.rows"
    [totalRecords]="pageable.totalElements"
  >
  </p-paginator>
</div>
