<div class="row">
  <div class="col-12 col-md-3 col-sm-12 mb-2">
    <a
      class="list-group-item list-group-item-action"
      routerLink="/users/list"
      routerLinkActive="active"
    >
      Tous les utilisateurs
    </a>
    <a
      [routerLinkActiveOptions]="{exact: true}"
      class="list-group-item list-group-item-action"
      routerLink="/users/friends"
      routerLinkActive="active"
    >
      Mes amis
    </a>
    <a
      [routerLinkActiveOptions]="{exact: true}"
      class="list-group-item list-group-item-action"
      routerLink="/users/friends/received"
      routerLinkActive="active"
    >
      Demandes reçues
    </a>
    <a
      [routerLinkActiveOptions]="{exact: true}"
      class="list-group-item list-group-item-action"
      routerLink="/users/friends/sent"
      routerLinkActive="active"
    >
      Demandes envoyées
    </a>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <ng-container *ngIf="!isLoading; else loadingTemplate">
      <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2">
        <!-- TODO: extraire le html du composant user-card -->
        <app-user-card
          *ngFor="let user of users"
          [user]="user"
        >
          <div class="mt-4 mb-2">
            <ng-container [ngSwitch]="user.relationTypeOfCurrentUser">
              <ng-template [ngSwitchCase]="relationType.FRIEND">
                <button
                  (click)="removeUserRelation(user)"
                  class="btn btn-danger text-light rounded-pill"
                  data-bs-placement="top"
                  data-bs-toggle="tooltip"
                  title="Retirer des amis"
                  type="button"
                >
                  <i-feather class="icon" name="user-minus"></i-feather>
                </button>
              </ng-template>

              <ng-template [ngSwitchCase]="relationType.SENDER">
                <button
                  (click)="removeUserRelation(user)"
                  class="btn btn-danger text-light rounded-pill"
                  data-bs-placement="top"
                  data-bs-toggle="tooltip"
                  title="Annuler la demande d'ami"
                  type="button"
                >
                  <i-feather class="icon" name="user-x"></i-feather>
                </button>
              </ng-template>

              <ng-template [ngSwitchCase]="relationType.RECEIVER">
                <button
                  (click)="confirmUserAsFriend(user)"
                  class="btn btn-success rounded-pill mx-2 mx-sm-1"
                  data-bs-placement="top"
                  data-bs-toggle="tooltip"
                  title="Accepter la demande d'ami"
                  type="button"
                >
                  <i-feather class="icon" name="user-check"></i-feather>
                </button>
                <button
                  (click)="removeUserRelation(user)"
                  class="btn btn-danger rounded-pill mx-2 mx-sm-1"
                  data-bs-placement="top"
                  data-bs-toggle="tooltip"
                  title="Annuler la demande d'ami"
                  type="button"
                >
                  <i-feather class="icon" name="user-x"></i-feather>
                </button>
              </ng-template>

              <ng-template ngSwitchDefault>
                <button
                  (click)="requestUserAsFriend(user)"
                  class="btn btn-primary rounded-pill"
                  data-bs-placement="top"
                  data-bs-toggle="tooltip"
                  title="Demander en ami"
                  type="button"
                >
                  <i-feather class="icon" name="user-plus"></i-feather>
                </button>
              </ng-template>
            </ng-container>
          </div>
        </app-user-card>
      </div>
      <p-paginator
        (onPageChange)="paginate($event)"
        *ngIf="pageable.totalPages > 0"
        [rowsPerPageOptions]="ROWS_PER_PAGE_OPTIONS"
        [rows]="pageable.size"
        [totalRecords]="pageable.totalElements"
      >
      </p-paginator>
    </ng-container>
    <ng-template #loadingTemplate>
      <div class="d-flex justify-content-center spinner">
        <div class="align-self-center">
          <app-loading></app-loading>
        </div>
      </div>
    </ng-template>
  </div>
</div>
