<div>

  <!-- CONTENU DYNAMIQUE
   <p-tag>
     <p-selectButton [options]="lis"  optionLabel="name" optionValue=unique></p-selectButton>
   </p-tag>
   -->
  <!-- CONTENU STATIQUE PRESENTATION CLIENT -->

  <!--  <p-selectButton [options]="tagOptions" [(ngModel)]="value1" multiple="multiple"
                   optionLabel="name" optionValue="value"></p-selectButton> -->

  <p-button (onClick)="find_tag1" class="tag">Les plus populaires</p-button>
  <p-button (onClick)="find_tag2" class="p-button-info">Les plus vus</p-button>
  <p-button (onClick)="find_tag3" class="p-button-text">Derniers ajouts</p-button>


</div>
