<p *ngIf="!isLoading && !latestTopics?.length; else postList">Il n'y a aucune publication pour le moment</p>
<ng-template #postList>
  <ng-container *ngIf="!isLoading; else loadingElements">
    <div *ngFor="let post of latestTopics; trackBy: trackByPostId">
      <app-latest-post-card [topic]="post"></app-latest-post-card>
    </div>
  </ng-container>

  <ng-template #loadingElements>
    <div *ngFor="let i of [1,2,3]">
      <app-latest-post-card-skeleton></app-latest-post-card-skeleton>
    </div>
  </ng-template>
</ng-template>
