<form
  [ngClass]="{'was-validated': isSubmitted}"
  [formGroup]="userForm"
>
  <div class="row col d-flex mb-3">
    <div class="col-md-4 col-lg-3 col-form-label">Profile Image</div>
    <div class="col-md-8 col-lg-9">
      <app-profile-avatar-file-uploader [profile]="profile"></app-profile-avatar-file-uploader>
    </div>
  </div>

  <fieldset>
    <legend>Informations Personnelles</legend>

    <!-- firstname -->
    <div class="row mb-3">
      <label for="inputFirstname" class="col-md-4 col-lg-3 col-form-label mandatory">Prénom</label>
      <div class="col-md-8 col-lg-9">
        <input
          id="inputFirstname"
          type="text"
          class="form-control"
          name="inputFirstname"
          aria-describedby="inputFirstnameFeedback"
          formControlName="firstname"
          placeholder="Prénom"
          [ngClass]="{'is-invalid': firstname.invalid && (firstname.dirty || firstname.touched)}"
        >
        <div id="inputFirstnameFeedback" class="invalid-feedback">
          Vous devez saisir votre prénom
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="inputLastname" class="col-md-4 col-lg-3 col-form-label mandatory">Nom</label>
      <div class="col-md-8 col-lg-9">
        <input
          id="inputLastname"
          type="text"
          class="form-control"
          name="inputLastname"
          aria-describedby="inputLastnameFeedback"
          formControlName="lastname"
          placeholder="Nom de famille"
          [ngClass]="{'is-invalid': lastname.invalid && (lastname.dirty || lastname.touched)}"
        >
        <div id="inputLastnameFeedback" class="invalid-feedback">
          Vous devez saisir votre nom de famille
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="inputEmail" class="col-md-4 col-lg-3 col-form-label mandatory">Adresse email</label>
      <div class="col-md-8 col-lg-9">
        <input
          id="inputEmail"
          type="text"
          class="form-control"
          name="inputEmail"
          aria-describedby="inputEmailFeedback"
          formControlName="email"
          placeholder="Nom de famille"
          [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}"
        >
        <div id="inputEmailFeedback" class="invalid-feedback">
          Vous devez saisir une adresse email valide
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="phoneNumber" class="col-md-4 col-lg-3 col-form-label">Téléphone</label>
      <div class="col-md-8 col-lg-9">
        <input name="phoneNumber" type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber" placeholder="0609">
      </div>
    </div>

    <div class="row mb-3">
      <label for="birthday" class="col-md-4 col-lg-3 col-form-label">Date de naissance</label>
      <div class="col-md-8 col-lg-9">
        <input name="birthday" type="date" class="form-control" id="birthday" formControlName="birthday" placeholder="nom.prenom@mail.com">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Présentation</legend>

    <div class="row mb-3">
      <label for="presentation" class="col-md-4 col-lg-3 col-form-label">&Agrave; propos de moi</label>
      <div class="col-md-8 col-lg-9">
      <textarea
        name="presentation"
        class="form-control"
        id="presentation"
        formControlName="presentation"
        placeholder="Décrivez vous en quelques mots ... "
      ></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <label for="purpose" class="col-md-4 col-lg-3 col-form-label">Mon objectif professionnel</label>
      <div class="col-md-8 col-lg-9">
      <textarea
        name="purpose"
        class="form-control"
        id="purpose"
        formControlName="purpose"
        placeholder="Décrivez vos attentes, votre projet professionnel, ... "
      ></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <label for="expectation" class="col-md-4 col-lg-3 col-form-label">Ce que j'attends du réseau</label>
      <div class="col-md-8 col-lg-9">
      <textarea
        name="expectation"
        class="form-control"
        id="expectation"
        formControlName="expectation"
        placeholder="Décrivez vos attentes du réseau"
      ></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <label for="contribution" class="col-md-4 col-lg-3 col-form-label">Ce que je peux apporter au réseau</label>
      <div class="col-md-8 col-lg-9">
      <textarea
        name="contribution"
        class="form-control"
        id="contribution"
        formControlName="contribution"
        placeholder="Présentez en quelques lignes ce que vous pouvez apporter au réseau "
      ></textarea>
      </div>
    </div>

  </fieldset>

  <div class="text-center">
    <button
      type="submit"
      class="btn btn-primary btn-lg"
      (click)="submit()"
      [disabled]="isLoading"
    >
      <span
        aria-hidden="true"
        class="spinner-border spinner-border-sm"
        role="status"
        [ngStyle]="{'visibility' : isLoading ? 'visible' : 'hidden'}"
      ></span>
      Enregistrer
    </button>
  </div>
</form>
