<form>
  <div class="row col d-flex mb-3">
    <div class="col-md-4 col-lg-3 col-form-label">Profile Image</div>
    <div class="col-md-8 col-lg-9">
      <app-profile-avatar-file-uploader [profile]="profile"></app-profile-avatar-file-uploader>
    </div>
  </div>

  <div class="row mb-3">
    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
    <div class="col-md-8 col-lg-9">
      <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson">
    </div>
  </div>

  <div class="row mb-3">
    <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
    <div class="col-md-8 col-lg-9">
      <textarea name="about" class="form-control" id="about" style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
    </div>
  </div>

  <div class="row mb-3">
    <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
    <div class="col-md-8 col-lg-9">
      <input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke">
    </div>
  </div>

  <div class="row mb-3">
    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
    <div class="col-md-8 col-lg-9">
      <input name="job" type="text" class="form-control" id="Job" value="Web Designer">
    </div>
  </div>

  <div class="row mb-3">
    <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
    <div class="col-md-8 col-lg-9">
      <input name="country" type="text" class="form-control" id="Country" value="USA">
    </div>
  </div>

  <div class="row mb-3">
    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
    <div class="col-md-8 col-lg-9">
      <input name="address" type="text" class="form-control" id="Address" value="A108 Adam Street, New York, NY 535022">
    </div>
  </div>

  <div class="row mb-3">
    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
    <div class="col-md-8 col-lg-9">
      <input name="phone" type="text" class="form-control" id="Phone" value="(436) 486-3538 x29071">
    </div>
  </div>

  <div class="row mb-3">
    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
    <div class="col-md-8 col-lg-9">
      <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com">
    </div>
  </div>

  <div class="row mb-3">
    <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
    <div class="col-md-8 col-lg-9">
      <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#">
    </div>
  </div>

  <div class="row mb-3">
    <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
    <div class="col-md-8 col-lg-9">
      <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#">
    </div>
  </div>

  <div class="row mb-3">
    <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
    <div class="col-md-8 col-lg-9">
      <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#">
    </div>
  </div>

  <div class="row mb-3">
    <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
    <div class="col-md-8 col-lg-9">
      <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#">
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </div>
</form><!-- End Profile Edit Form -->
