<nav>
  <ul class="pagination justify-content-center align-items-end m-0">
    <li *ngIf="!pageable.first" class="page-item cursor-pointer">
      <span
        class="page-link"
        tabindex="-1"
        (click)="changePage(pageable.number - 1)"
      >‹ préc</span>
    </li>
    <ng-container *ngFor="let _ of [].constructor(pageable?.totalPages); let index = index">
      <li
        class="page-item"
        (click)="changePage(index)"
        [ngClass]="{'disabled': (pageable.number === index), 'cursor-pointer': (pageable.number !== index)}"
      >
        <a class="page-link" [ngClass]="{'disabled': (pageable.number === index)}">{{index + 1}}</a>
      </li>
    </ng-container>
    <li *ngIf="!pageable.last" class="page-item cursor-pointer">
      <a class="page-link" (click)="changePage(pageable.number + 1)">suiv ›</a>
    </li>
  </ul>
</nav>
