<nav [ngStyle]="{'visibility': visible ? 'visible' : 'hidden'}">
  <ul class="pagination justify-content-center align-items-end m-0">
    <li *ngIf="!first" class="page-item cursor-pointer">
      <span
        class="page-link"
        tabindex="-1"
        (click)="changePage(page - 1)"
      >‹ préc</span>
    </li>
    <ng-container *ngFor="let _ of [].constructor(totalPages); let index = index">
      <li
        class="page-item"
        (click)="changePage(index)"
        [ngClass]="{'disabled': (page === index), 'cursor-pointer': (page !== index)}"
      >
        <a class="page-link" [ngClass]="{'disabled': (page === index)}">{{index + 1}}</a>
      </li>
    </ng-container>
    <li *ngIf="!last" class="page-item cursor-pointer">
      <a class="page-link" (click)="changePage(page + 1)">suiv ›</a>
    </li>
  </ul>
</nav>
