.card-post {
  border-radius: 11px;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: white;
  height: 115px;

  .card-body {
    padding: 12px;
  }
}
